html {
    direction: rtl;
    text-align: right;
}
.main-navbar .navbar .navbar-nav {
    margin-right: auto;
    margin-left: 0;
    padding: 0;
}
.main-navbar .navbar .navbar-nav .nav-item:first-child {
    margin-right: 0;
    margin-left: 15px;
}
.main-navbar .navbar .navbar-nav .nav-item:last-child {
    margin-left: 0;
    margin-right: 15px;
}
.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu {
    right: 0;
    left: auto;
    text-align: right;
}
.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    right: -250px;
}
.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a i {
    left: 15px;
    right: auto;
}
.main-navbar .navbar .others-options {
    margin-right: 30px;
    margin-left: 0;
}
.main-navbar .navbar .others-options .option-item {
    margin-left: 30px;
    margin-right: 0;
}
.main-navbar .navbar .others-options .option-item .info {
    padding-right: 45px;
    padding-left: 0;
}
.main-navbar .navbar .others-options .option-item .info i {
    right: 0;
    left: auto;
}
.main-navbar .navbar .others-options .option-item::before {
    left: -15px;
    right: auto;
}
.main-navbar .navbar .others-options .option-item:last-child {
    margin-left: 0;
}
.navbar-brand {
    margin-right: 0;
}
.search-overlay.search-popup {
    left: 0;
    right: auto;
}
.search-overlay.search-popup .search-form .search-input {
    padding-right: 10px;
    padding-left: 0;
}
.search-overlay.search-popup .search-form .search-button {
    left: 0;
    right: auto;
}
.approvals-content {
    padding: 35px 60px 35px 20px;
}
.approvals-content .icon {
    right: 0;
    left: auto;
}
.approvals-content::before {
    left: 0;
    right: auto;
}
.banner-social-buttons {
    left: -80px;
    right: auto;
}
.banner-social-buttons ul {
    padding-right: 0;
}
.banner-social-buttons ul li {
    margin-left: 20px;
    margin-right: 0;
}
.banner-social-buttons ul li:last-child {
    margin-left: 0;
}
.banner-social-buttons ul li span {
    margin-left: 30px;
    margin-right: 0;
}
.banner-social-buttons ul li span::before {
    left: -38px;
    right: auto;
}
.about-content .about-list {
    padding-right: 0;
}
.about-content .about-list li {
    padding-right: 30px;
    padding-left: 0;
}
.about-content .about-list li i {
    right: 0;
    left: auto;
}
.about-image {
    text-align: right;
    padding-left: 100px;
    padding-right: 0;
}
.about-image img:nth-child(2) {
    left: 10px;
    right: auto;
}
.about-image .experience p {
    padding-right: 120px;
    padding-left: 0;
}
.about-image .experience h4 {
    right: 50px;
    left: auto;
}
.about-image .experience {
    border-right: 2px solid #e73c3e;
    border-left: none;
}
.company-area {
    overflow: hidden;
}
.company-area .container-fluid {
    padding-right: 0;
}
.company-content .company-text {
    padding-right: 70px;
    padding-left: 0;
}
.company-content .company-text .icon {
    right: 0;
    left: auto;
}
.rate-form .form-group .nice-select {
    text-align: right !important;
    padding-left: 30px;
    padding-right: 18px;
}
.rate-form .form-group .nice-select:after {
    left: 20px;
    right: auto;
}
.rate-form .form-group .nice-select .list .option {
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}
.deserve-item .deserve-content {
    padding-right: 65px;
    padding-left: 0;
}
.deserve-item .deserve-content span {
    right: 0;
    left: auto;
}
.deserve-item .deserve-content::before {
    right: 20px;
    left: auto;
}
.clients-item .info {
    padding-right: 75px;
    padding-left: 0;
}
.clients-item .info img {
    right: 0;
    left: auto;
}
.clients-item .icon {
    left: 25px;
    right: auto;
}
.single-footer-widget .social {
    padding-right: 0;
}
.single-footer-widget .social li {
    margin-left: 10px;
    margin-right: 0;
}
.single-footer-widget .social li:last-child {
    margin-left: 0;
}
.single-footer-widget .quick-links {
    padding-right: 0;
}
.single-footer-widget .info-contact {
    padding-right: 40px;
    padding-left: 0;
}
.single-footer-widget .info-contact i {
    right: 0;
    left: auto;
}
.go-top {
    left: 20px;
    right: auto;
}
.main-banner-area.bg-two .banner-social-buttons {
    right: 45px;
    left: auto;
}
.main-banner-area.bg-two .banner-social-buttons ul li span {
    margin-left: 30px;
    margin-right: 0;
}
.main-banner-area.bg-two .banner-social-buttons ul li span::before {
    left: -38px;
    right: auto;
}
.about-wrap .about-shape {
    left: 60px;
    right: auto;
}
.solution-item .solution-info {
    padding-right: 85px;
    padding-left: 0;
    text-align: left;
}
.solution-item .solution-info i {
    right: 50px;
    left: auto;
}
.solution-item .content::before {
    left: -35px;
    right: auto;
}
.best-services-slider .services-tabs-item .list {
    padding-right: 0;
}
.best-services-slider .services-tabs-item .list li {
    padding-right: 18px;
    padding-left: 0;
}
.best-services-slider .services-tabs-item .list li::before {
    right: 0;
    left: auto;
}
.clients-slider .clients-item .clients-image img {
    margin: auto;
}
.clients-slider .clients-item .clients-image .icon-1 {
    right: 80px;
    left: auto;
}
.clients-slider.owl-theme .owl-dots {
    left: 50px;
    right: auto;
}
.team-item .image .social {
    padding-right: 0;
}
.approvals-item .approvals-content {
    padding: 20px 60px 20px 20px;
}
.approvals-item .approvals-content::before {
    left: 40px;
    right: auto;
}
.single-fun-fact {
    border-left: 1px solid #d3d2ce;
    border-right: none;
}
.col-lg-3:last-child .single-fun-fact {
    border-left: none;
}
.tabs-list {
    padding-right: 0;
}
.services-list-tab .tabs_item .list {
    padding-right: 0;
}
.services-list-tab .tabs_item .list li {
    padding-right: 18px;
    padding-left: 0;
}
.services-list-tab .tabs_item .list li::before {
    right: 0;
    left: auto;
}
.value-features {
    padding-right: 0;
}
.value-features li i {
    margin-left: 10px;
    margin-right: 0;
}
.clients-area.bg-color .clients-slider.owl-theme .owl-dots {
    left: 0;
    right: auto;
}
.page-title-content ul {
    padding-right: 0;
}
.page-title-content ul li::before {
    left: -14px;
    right: auto;
}
.faq-list-tab .tab_content .tabs_item .faq-accordion .accordion {
    padding-right: 0;
}
.faq-list-tab .tab_content .tabs_item .faq-accordion .accordion .accordion-title i {
    margin-left: 10px;
    margin-right: 0;
    float: right;
    margin-top: 4px;
}
.faq-contact-form form .help-block ul {
    padding-right: 0;
    text-align: right;
}
.calculator-form .calculator-btn .btn-one {
    margin-left: 15px;
    margin-right: 0;
}
.table thead th {
    text-align: right !important;
}
.apply-form .form-group .nice-select {
    text-align: right !important;
    padding-right: 18px;
}
.apply-form .form-group .nice-select:after {
    left: 20px;
    right: auto;
}
.apply-form .form-group .nice-select .list .option {
    text-align: right;
}
.projects-details-content .projects-details-info .single-info-box .social {
    padding-right: 0;
}
.projects-details-content .projects-details-info .single-info-box .social li {
    margin-left: 5px;
    margin-right: 0;
}
.form-check {
    padding-right: 1.25rem;
    padding-left: 0;
}
.form-check-input {
    margin-right: -1.25rem;
    margin-left: 0;
}
.terms-of-condition-sidebar ul {
    padding-right: 0;
}
.terms-of-condition-sidebar ul li a {
    padding: 15px 40px 15px 25px;
}
.terms-of-condition-sidebar ul li a::before {
    right: 25px;
    left: auto;
}
.contact-form .form-group .list-unstyled {
    padding-right: 0;
}
.contact-side-box .info-box {
    padding-right: 50px;
    padding-left: 0;
}
.contact-side-box .info-box .list {
    padding-right: 0;
}
.contact-side-box .info-box .list li span {
    float: left;
}
.contact-side-box .info-box .icon {
    right: 0;
    left: auto;
}
.widget-area .widget_categories ul {
    padding-right: 0;
}
.widget-area .widget_search form button {
    left: 0;
    right: auto;
}
.widget-area .widget_hours ul {
    padding-right: 0;
}
.widget-area .widget_hours ul li span {
    float: left;
}
.widget-area .widget_appointment .form-group .list-unstyled {
    padding-right: 0;
}
.services-details-list .content .list {
    padding-right: 0;
}
.funding-content .funding-list {
    padding-right: 0;
}
.loan-content .list {
    padding-right: 0;
}
.loan-content .list li {
    padding-right: 18px;
    padding-left: 0;
}
.loan-content .list li::before {
    right: 0;
    left: auto;
}
.loan-content .loan-list {
    padding-right: 0;
}
.loan-content .loan-list li {
    padding-right: 30px;
    padding-left: 0;
}
.loan-content .loan-list li i {
    right: 0;
    left: auto;
}
.loan-image .loan-shape {
    left: 60px;
    right: auto;
}
.check-text .list {
    padding-right: 0;
}
.check-text .list li {
    padding-right: 18px;
    padding-left: 0;
}
.check-text .list li::before {
    right: 0;
    left: auto;
}
.widget-area .widget_finix_posts_thumb .item .thumb {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}
.widget-area .widget_archives ul {
    padding-right: 0;
}
.single-blog .post-meta {
    padding-right: 0;
}
.single-blog .post-meta li {
    margin-left: 20px;
    margin-right: 0;
}
.single-blog .post-meta li:last-child {
    margin-left: 0;
}
.single-blog .post-meta li i {
    margin-left: 5px;
    margin-right: 0;
}
.blog-details-desc .post-meta {
    padding-right: 0;
}
.blog-details-desc .post-meta li {
    margin-left: 20px;
    margin-right: 0;
}
.blog-details-desc .post-meta li:last-child {
    margin-left: 0;
}
.blog-details-desc .post-meta li i {
    margin-left: 5px;
    margin-right: 0;
}
.blog-details-desc .article-share .social li {
    margin-left: 5px;
    margin-right: 0;
}
.comment-reply .comment-form-cookies-consent {
    padding-right: 20px;
    padding-left: 0;
}
.comment-reply .comment-form-cookies-consent input {
    right: 0;
    left: auto;
}
.comment-reply input[type="date"], .comment-reply input[type="time"], .comment-reply input[type="datetime-local"], .comment-reply input[type="week"], .comment-reply input[type="month"], .comment-reply input[type="text"], .comment-reply input[type="email"], .comment-reply input[type="url"], .comment-reply input[type="password"], .comment-reply input[type="search"], .comment-reply input[type="tel"], .comment-reply input[type="number"], .comment-reply textarea {
    text-align: right;
}
.faq-contact-form form .form-control {
    text-align: right;
}
.sign-in-form .forgot-password {
    text-align: left;
}
.contact-form .form-group .form-control {
    text-align: right;
}
.widget-area .widget_appointment .form-group .form-control {
    text-align: right;
}
.owl-carousel {
    direction: ltr;
}
.owl-carousel .owl-item {
    direction: rtl;
}
.search-overlay .search-overlay-form form .input-search {
     padding-right: 15px;
}
.search-overlay .search-overlay-form form button {
    left: 5px;
    right: auto;
}
.widget-area .widget_posts_thumb .item .thumb {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}
.funding-content .funding-list li span {
    margin-right: 0;
    margin-left: 5px;
}
.buy-checkbox-btn .cbx span:last-child {
    padding-left: 0;
    padding-right: 8px;
}
.form-check .form-check-input {
    float: right;
}
.col-6.text-right {
    text-align: left;
}
.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    right: 100%;
}
.best-services-tab .services-tabs-item .services-tab-content .list {
    padding: 0;
}
.best-services-tab .services-tabs-item .services-tab-content .list li {
    padding-left: 0;
    padding-right: 18px;
}
.best-services-tab .services-tabs-item .services-tab-content .list li::before {
    right: 0;
    left: auto;
}
.page-title-content ul li {
    margin-right: 0;
    margin-left: 27px;
}
.pr-15 {
    padding-right: 0;
    padding-left: 15px;
}
.search-overlay .search-overlay-close {
    right: auto;
    left: 20px;
}

/*
Responsive CSS
============================*/
@media only screen and (max-width: 767px) {
    .pr-15 {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-area .main-navbar .navbar .navbar-nav {
        padding-right: 0;
        padding-left: 15px;
    }
    .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
        left: 0;
        right: 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left;
        left: 0;
        right: auto;
    }
    .mean-container .mean-nav ul li a {
        text-align: right;
    }
    .navbar-area .others-options .option-item .default-btn {
        left: 45px;
        right: auto;
    }
    .mean-container a.meanmenu-reveal {
        left: 0 !important;
        right: auto !important;
    }
    .banner-social-buttons {
        left: 0;
    }
    .about-image {
        text-align: center;
        padding-left: 0;
    }
    .about-image img:nth-child(2) {
        left: 0;
    }
    .about-image .experience h4 {
        right: 0;
    }
    .about-image .experience p {
        padding-right: 0;
    }
    .company-area .container-fluid {
        padding-right: 15px;
    }
    .solution-item .solution-info {
        padding-right: 0;
        text-align: center;
    }
    .solution-item .solution-info i {
        right: 0;
    }
    .single-fun-fact {
        border-left: none;
    }
    .main-navbar .navbar .navbar-nav .nav-item:last-child {
        margin: 0;
    }
    .main-navbar .navbar .others-options {
        margin-right: 0;
        margin-left: 0;
    }
    .main-navbar .navbar .others-options .option-item .info {
        padding-right: 0;
        padding-left: 0 !important;
    }
    .main-navbar .navbar .others-options .option-item {
        margin-left: 15px !important;
        margin-right: 0;
    }
    .main-navbar .navbar .others-options .option-item:last-child {
        margin-left: 0 !important;
    }
    .navbar-area .others-options .option-item .default-btn {
        left: 0;
        right: auto;
    }
    .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
        right: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pr-15 {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-area .main-navbar .navbar .navbar-nav {
        padding-right: 0;
        padding-left: 15px;
    }
    .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
        left: 0;
        right: 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left;
        left: 0;
        right: auto;
    }
    .mean-container .mean-nav ul li a {
        text-align: right;
    }
    .navbar-area .others-options .option-item .default-btn {
        left: 45px;
        right: auto;
    }
    .navbar-area .others-options .option-item .search-btn {
        left: 145px;
        right: auto;
    }
    .navbar-area .others-options .option-item .close-btn {
        left: 145px;
        right: auto;
    }
    .mean-container a.meanmenu-reveal {
        left: 0 !important;
        right: auto !important;
    }
    .banner-social-buttons {
        left: 0;
    }
    .company-area .container-fluid {
        padding-right: 15px;
    }
    .solution-item .solution-info {
        padding-right: 0;
        text-align: center;
    }
    .solution-item .solution-info i {
        right: 0;
    }
    .clients-slider .clients-item .clients-image .icon-1 {
        right: 0;
        left: 0;
    }
    .single-fun-fact {
        border-left: none;
    }
    .navbar-area .others-options .option-item .default-btn {
        left: 0;
        right: auto;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pr-15 {
        padding-right: 0;
        padding-left: 0;
    }
    .main-navbar .navbar .navbar-brand img {
        max-width: 100px !important;
    }
    .main-navbar .navbar .navbar-nav .nav-item {
        margin-left: 7px;
        margin-right: 7px;
    }
    .main-navbar .navbar .navbar-nav .nav-item a {
        font-size: 16px;
    }
    .main-navbar .navbar .others-options {
        margin-right: 20px;
    }
    .main-navbar .navbar .others-options .option-item {
        margin-left: 15px;
    }
    .main-navbar .navbar .others-options .option-item::before {
        left: -10px;
        right: auto;
    }
    .main-navbar .navbar .others-options .option-item .default-btn {
        padding: 10px 25px;
    }
    .main-navbar .navbar .others-options .option-item .info {
        padding-right: 35px;
        padding-left: 0;
    }
    .main-navbar .navbar .others-options .option-item .info span {
        font-size: 14px;
    }
    .main-navbar .navbar .others-options .option-item .info p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1800px) {
    .main-banner-area.bg-two .banner-social-buttons {
        right: 235px;
        left: auto;
    }
    .main-banner-area.bg-two .banner-social-buttons ul li span {
        margin-left: 30px;
        margin-right: 0;
    }
    .main-banner-area.bg-two .banner-social-buttons ul li span::before {
        left: -38px;
        right: auto;
    }
}
