#tab-reviews{
  .woocommerce-Reviews-title{
    font-size: 20px;
      margin-bottom: 25px;
    }
  .rx_author_name h4  {
    font-size: 14px;
    font-weight: 500;
  }
  .rx-review-form-area-style-2 p{
    color: #000;
  }
}