<div class="leftbar-content">

  <div class="content">
  <div class="col-xs-hidden col-sm-hidden col-md-3 col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Cluster Status</h5>
        <div ibox-tools></div>
      </div>
      <div class="ibox-content col-xs-hidden col-sm-hidden col-md-hidden" >
        <div id="data" class="row">
          <div class="col-xs-hidden col-sm-hidden col-md- 2 col-lg-2">
            <div class="widget style1 //status.status\\-bg" uib-popover-template="values.filterTemplate" popover-placement="left">
              <span uib-tooltip="//values.help\\" tooltip-placement="top" tooltip-animation="false" tooltip-is-open="true">
                <div class="row">
                  <div class="col-xs-12 text-center" >
                    <i class="fa fa-database fa-2x"></i>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 text-center">//status.cluster_name\\
                    <i class="fa //values.trend\\"></i>

                  </div>
                  <!-- <div class="col-xs-4 text-center"><i class="fa //values.trend\\"></i></div> -->
                </div>


                <div class="row">
                  <div class="col-xs-12 text-center"><h3 class="inline font-bold">//status.active_shards_percent_as_number\\%</h3>
                  </div>
                </div>
              </span>

            </div>


          </div>
          <div class="col-xs-hidden col-sm-hidden col-md- 2 col-lg-2">
            <div class="widget style1 //status.status\\-bg" uib-popover-template="values.filterTemplate" popover-placement="left">
              <span uib-tooltip="//values.help\\" tooltip-placement="top" tooltip-animation="false" tooltip-is-open="true">
                <div class="row">
                  <div class="col-xs-12 text-center" >
                    <i class="fa fa-database fa-2x"></i>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 text-center">Total Nodes
                    <i class="fa //values.trend\\"></i>

                  </div>
                  <!-- <div class="col-xs-4 text-center"><i class="fa //values.trend\\"></i></div> -->
                </div>


                <div class="row">
                  <div class="col-xs-12 text-center"><h3 class="inline font-bold">//status.number_of_nodes\\</h3>
                  </div>
                </div>
              </span>

            </div>


          </div>



          <div class="col-xs-hidden col-sm-hidden col-md- 2 col-lg-2">
            <div class="widget style1 //status.status\\-bg" uib-popover-template="values.filterTemplate" popover-placement="left">
              <span uib-tooltip="//values.help\\" tooltip-placement="top" tooltip-animation="false" tooltip-is-open="true">
                <div class="row">
                  <div class="col-xs-12 text-center" >
                    <i class="fa fa-database fa-2x"></i>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 text-center">Data Nodes
                    <i class="fa //values.trend\\"></i>

                  </div>
                  <!-- <div class="col-xs-4 text-center"><i class="fa //values.trend\\"></i></div> -->
                </div>


                <div class="row">
                  <div class="col-xs-12 text-center"><h3 class="inline font-bold">//status.number_of_data_nodes\\</h3>
                  </div>
                </div>
              </span>

            </div>


          </div>



          <div class="col-xs-hidden col-sm-hidden col-md- 2 col-lg-2">
            <div class="widget style1 //status.status\\-bg" uib-popover-template="values.filterTemplate" popover-placement="left">
              <span uib-tooltip="//values.help\\" tooltip-placement="top" tooltip-animation="false" tooltip-is-open="true">
                <div class="row">
                  <div class="col-xs-12 text-center" >
                    <i class="fa fa-database fa-2x"></i>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 text-center">Primary Shards
                    <i class="fa //values.trend\\"></i>

                  </div>
                  <!-- <div class="col-xs-4 text-center"><i class="fa //values.trend\\"></i></div> -->
                </div>


                <div class="row">
                  <div class="col-xs-12 text-center"><h3 class="inline font-bold">//status.active_primary_shards\\</h3>
                  </div>
                </div>
              </span>

            </div>


          </div>



          <div class="col-xs-hidden col-sm-hidden col-md- 2 col-lg-2">
            <div class="widget style1 //status.status\\-bg" uib-popover-template="values.filterTemplate" popover-placement="left">
              <span uib-tooltip="//values.help\\" tooltip-placement="top" tooltip-animation="false" tooltip-is-open="true">
                <div class="row">
                  <div class="col-xs-12 text-center" >
                    <i class="fa fa-database fa-2x"></i>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 text-center">Total Shards
                    <i class="fa //values.trend\\"></i>

                  </div>
                  <!-- <div class="col-xs-4 text-center"><i class="fa //values.trend\\"></i></div> -->
                </div>


                <div class="row">
                  <div class="col-xs-12 text-center"><h3 class="inline font-bold">//status.active_shards\\</h3>
                  </div>
                </div>
              </span>

            </div>


          </div>



          <div class="col-xs-hidden col-sm-hidden col-md- 2 col-lg-2">
            <div class="widget style1 //status.status\\-bg" uib-popover-template="values.filterTemplate" popover-placement="left">
              <span uib-tooltip="//values.help\\" tooltip-placement="top" tooltip-animation="false" tooltip-is-open="true">
                <div class="row">
                  <div class="col-xs-12 text-center" >
                    <i class="fa fa-database fa-2x"></i>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 text-center">95th Percentile
                    <i class="fa //values.trend\\"></i>

                  </div>
                  <!-- <div class="col-xs-4 text-center"><i class="fa //values.trend\\"></i></div> -->
                </div>


                <div class="row">
                  <div class="col-xs-12 text-center"><h3 class="inline font-bold">//performance.values['95.0'].convert()\\ms</h3>
                  </div>
                </div>
              </span>

            </div>


          </div>






        </div>
      </div>
      <div id="help" class="row hidden">
        <div class="col-xs-hidden col-sm-hidden col-md-12 col-lg-12">
          <p>
            <span class="dropcap-bg">L</span>ayers are broken down in your cloud intro 3 distinct groups.
            The Infrastructure Layer is for all devices that are tyocally routers, switches, etc.
          </p>
          <div class="text-center">
            <ul class="pagination">
              <li><a href="javascript:void()">«</a></li>
              <li class="active"><a href="javascript:void()">1</a></li>
              <li><a href="javascript:void()">2</a></li>
              <li><a href="javascript:void()">»</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="settings" class="row hidden">
        <div class="col-xs-hidden col-sm-hidden col-md-12 col-lg-12">
          <form action="#" class="sky-form">
            <fieldset>
              <section>
                <label class="label">Player Level</label>
                <div class="row">
                  <div class="col col-4">
                    <label class="radio state-success"><input type="radio" name="radio"><i class="rounded-x"></i>Expert</label>
                  </div>
                  <div class="col col-4">
                    <label class="radio state-success"><input type="radio" name="radio" checked=""><i class="rounded-x"></i>Professional</label>
                  </div>
                  <div class="col col-4">
                    <label class="radio state-success"><input type="radio" name="radio"><i class="rounded-x"></i>Amateur</label>
                  </div>
                </div>
                <!-- <div class="note note-success">Thanks for your selection.</div> -->
              </section>
            </fieldset>

            <footer>
              <button type="submit" class="btn-u btn-u-default">Submit</button>
              <button type="button" class="btn-u" onclick="window.history.back();">Reset</button>
            </footer>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
