/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/_header.scss";

/*--------------------------------------------------------------
## pages
--------------------------------------------------------------*/
@import "primary/_slider.scss";
@import "primary/_work.scss";
@import "primary/_blog.scss";
@import "primary/_contact.scss";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/
//@import "primary/archives";


/*--------------------------------------------------------------
## Error
--------------------------------------------------------------*/
@import "error/404";


/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/_footer.scss";

