<!-- logo begin -->
<a class="uk-logo" href="{{root}}index.html">
    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}{{#unlesspage 'signin'}}img/in-logo-1.svg{{/unlesspage}}{{#ifpage 'signin'}}img/in-logo-2.svg{{/ifpage}}" alt="logo" width="160" height="34" data-uk-img>
</a>
<!-- logo end -->
