<div class="uk-section uk-section-secondary in-footer-feature uk-margin-medium-top">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-5-6@m">                    
                <div class="uk-grid uk-child-width-1-3@s" data-uk-grid>
                    <div class="uk-flex uk-flex-middle">
                        <div class="uk-margin-right">
                            <i class="fas fa-history in-icon-wrap"></i>
                        </div>
                        <div>
                            <h6 class="uk-margin-remove">25 years of Excellence</h6>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-middle uk-flex-center@m">
                        <div class="uk-margin-right">
                            <i class="fas fa-trophy in-icon-wrap"></i>
                        </div>
                        <div>
                            <h6 class="uk-margin-remove">15+ Global Awards</h6>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-middle uk-flex-right@m">
                        <div class="uk-margin-right">
                            <i class="fas fa-phone-alt in-icon-wrap"></i>
                        </div>
                        <div>
                            <h6 class="uk-margin-remove">24/5 Customer Support</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
