<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-1-1">
                <h2 class="uk-text-center">Open positions</h2>
                <table class="uk-table uk-table-middle uk-table-divider uk-table-responsive">
                    <tbody>
                        <tr>
                            <td>
                                <h4>Solutions engineer (entry level)</h4>
                            </td>
                            <td>
                                <i class="fas fa-map-marker-alt uk-margin-small-right"></i> Stockholm, Sweden
                            </td>
                            <td class="uk-text-left uk-text-right@m">
                                <a class="uk-button uk-button-primary uk-border-rounded" href="#">Apply for this job <i class="fas fa-file uk-margin-small-left"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Sales Development Representative</h4>
                            </td>
                            <td>
                                <i class="fas fa-map-marker-alt uk-margin-small-right"></i> London, United Kingdom
                            </td>
                            <td class="uk-text-left uk-text-right@m">
                                <a class="uk-button uk-button-primary uk-border-rounded" href="#">Apply for this job <i class="fas fa-file uk-margin-small-left"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Software Engineer - Backend</h4>
                            </td>
                            <td>
                                <i class="fas fa-map-marker-alt uk-margin-small-right"></i> Stockholm, Sweden
                            </td>
                            <td class="uk-text-left uk-text-right@m">
                                <a class="uk-button uk-button-primary uk-border-rounded" href="#">Apply for this job <i class="fas fa-file uk-margin-small-left"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
