<!-- section content begin -->
<div class="uk-section in-offset-top-60 in-offset-top-50@s">
    <div class="uk-container">
        <div class="uk-grid-medium uk-child-width-1-3@m in-testimonial-7" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-small uk-border-rounded">
                    <div class="uk-card-header">
                        <img src="{{root}}img/in-client-testi-3.svg" alt="client-logo" width="60">
                    </div>
                    <div class="uk-card-body">
                        <blockquote>
                            <p>Really love the product! It saves so much time and helps a lot in organize our feedback.</p>
                        </blockquote>
                    </div>
                    <div class="uk-card-footer">
                        <blockquote>
                            <footer>Gabrielle Barger<br><cite>Help Desk at appium</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-small uk-border-rounded">
                    <div class="uk-card-header">
                        <img src="{{root}}img/in-client-testi-4.svg" alt="client-logo" width="60">
                    </div>
                    <div class="uk-card-body">
                        <blockquote>
                            <p>This is my one stop shop for sending all Updates to investors or even exec team members.</p>
                        </blockquote>
                    </div>
                    <div class="uk-card-footer">
                        <blockquote>
                            <footer>Melvin Cortez<br><cite>Cloud Architect at blossom</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-small uk-border-rounded">
                    <div class="uk-card-header">
                        <img src="{{root}}img/in-client-testi-5.svg" alt="client-logo" width="60">
                    </div>
                    <div class="uk-card-body">
                        <blockquote>
                            <p>Has been a great tool for me on monthly updates & helps to communicate the issues with us.</p>
                        </blockquote>
                    </div>
                    <div class="uk-card-footer">
                        <blockquote>
                            <footer>Franklin Clark<br><cite>Sales Analyst at mailgun</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
