<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <div data-uk-grid>
                    <div class="uk-width-1-2@s uk-width-2-3@m">
                        <h2 class="uk-margin-remove">We <span class="in-highlight">help</span> our customers.</h2>
                        <p class="uk-text-lead uk-text-muted uk-margin-remove">To engage investors so their companies can grow</p>
                        <p>Our customers look to us as guides, and we weave our deep legal and technical experience into our software and services.</p>
                    </div>
                    <div class="uk-width-1-2@s uk-width-expand@m">
                        <ul class="uk-list uk-list-divider uk-margin-small-top">
                            <li>
                                <div class="uk-flex uk-flex-middle">
                                    <i class="fas fa-paper-plane fa-lg in-icon-wrap circle primary-color uk-margin-right"></i>
                                    <div>
                                        <h3 class="uk-margin-remove-bottom count" data-counter-end="35817">0</h3>
                                        <span class="uk-label uk-label-success uk-text-small uk-border-pill">Business launch</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-flex uk-flex-middle">
                                    <i class="fas fa-user-tie fa-lg in-icon-wrap circle primary-color uk-margin-right"></i>
                                    <div>
                                        <h3 class="uk-margin-remove-bottom count" data-counter-end="4400">0</h3>
                                        <span class="uk-label uk-label-success uk-text-small uk-border-pill">Investor engaged</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
