<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-5@m">
                <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-1@m in-content-11" data-uk-grid>
                    <div>
                        <a href="#" class="uk-card uk-card-small uk-card-default uk-card-body uk-border-rounded uk-display-block">
                            <div class="uk-grid" data-uk-grid>
                                <div class="uk-width-auto@m uk-flex uk-flex-middle">
                                    <i class="fas fa-book fa-lg in-icon-wrap circle in-margin-remove-left@s uk-margin-left"></i>
                                </div>
                                <div class="uk-width-expand@m in-margin-small-top@s">
                                    <h4 class="uk-margin-small-bottom">Getting started with our product</h4>
                                    <img class="uk-border-pill uk-background-muted uk-float-left uk-margin-remove-adjacent uk-margin-small-right" src="{{root}}img/in-team-7.png" width="40" height="40" alt="author-image">
                                    <p class="uk-text-small uk-margin-remove-bottom">5 articles in this collection</p>
                                    <p class="uk-text-small uk-margin-remove-top">Written by Scott Baker</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="uk-card uk-card-small uk-card-default uk-card-body uk-border-rounded uk-display-block">
                            <div class="uk-grid" data-uk-grid>
                                <div class="uk-width-auto@m uk-flex uk-flex-middle">
                                    <i class="fas fa-pen-nib fa-lg in-icon-wrap circle in-margin-remove-left@s uk-margin-left"></i>
                                </div>
                                <div class="uk-width-expand@m in-margin-small-top@s">
                                    <h4 class="uk-margin-small-bottom">Contracts and E-Signatures</h4>
                                    <img class="uk-border-pill uk-background-muted uk-float-left uk-margin-remove-adjacent uk-margin-small-right" src="{{root}}img/in-team-8.png" width="40" height="40" alt="author-image">
                                    <p class="uk-text-small uk-margin-remove-bottom">2 articles in this collection</p>
                                    <p class="uk-text-small uk-margin-remove-top">Written by Timothy Watkins</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="uk-card uk-card-small uk-card-default uk-card-body uk-border-rounded uk-display-block">
                            <div class="uk-grid" data-uk-grid>
                                <div class="uk-width-auto@m uk-flex uk-flex-middle">
                                    <i class="fas fa-file-invoice fa-lg in-icon-wrap circle in-margin-remove-left@s uk-margin-left"></i>
                                </div>
                                <div class="uk-width-expand@m in-margin-small-top@s">
                                    <h4 class="uk-margin-small-bottom">Invoicing and Getting paid</h4>
                                    <img class="uk-border-pill uk-background-muted uk-float-left uk-margin-remove-adjacent uk-margin-small-right" src="{{root}}img/in-team-6.png" width="40" height="40" alt="author-image">
                                    <p class="uk-text-small uk-margin-remove-bottom">3 articles in this collection</p>
                                    <p class="uk-text-small uk-margin-remove-top">Written by Peter Jacobs</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="uk-card uk-card-small uk-card-default uk-card-body uk-border-rounded uk-display-block">
                            <div class="uk-grid" data-uk-grid>
                                <div class="uk-width-auto@m uk-flex uk-flex-middle">
                                    <i class="fas fa-users fa-lg in-icon-wrap circle in-margin-remove-left@s uk-margin-left"></i>
                                </div>
                                <div class="uk-width-expand@m in-margin-small-top@s">
                                    <h4 class="uk-margin-small-bottom">Project sources and Tracking</h4>
                                    <img class="uk-border-pill uk-background-muted uk-float-left uk-margin-remove-adjacent uk-margin-small-right" src="{{root}}img/in-team-3.png" width="40" height="40" alt="author-image">
                                    <p class="uk-text-small uk-margin-remove-bottom">8 articles in this collection</p>
                                    <p class="uk-text-small uk-margin-remove-top">Written by Evelyn Mason</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
