<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <h2 class="uk-margin-remove">We're a team of mission-driven <span class="in-highlight">experts &amp; learners.</span></h2>
                <p class="uk-text-lead uk-text-muted uk-margin-remove">Who are committed to making security a strength for every startup.</p>
                <p>We've already helped hundreds of innovative companies succeed at becoming trustworthy custodians of sensitive data. And we're just getting started.</p>
                <div class="uk-grid-divider uk-child-width-1-1 uk-child-width-1-3@m uk-margin-medium-top uk-margin-bottom" data-uk-grid>
                    <div>
                        <h4>Our oppurtinity</h4>
                        <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui anim officia.</p>
                        <a class="uk-button uk-button-text" href="#">Watch the video<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                    </div>
                    <div>
                        <h4>Our team</h4>
                        <p>Architecto beatae vitae dicta sunt explicabo ipsam memo voluptatem quia voluptas.</p>
                        <a class="uk-button uk-button-text" href="#">Meet the team<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                    </div>
                    <div>
                        <h4>Our culture</h4>
                        <p>Corporis suscipit laboriosa nisi ut aliquid ex ea commodi consequatur pariatur.</p>
                        <a class="uk-button uk-button-text" href="#">See our values<i class="fas fa-long-arrow-alt-right uk-margin-small-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
