<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-text-center uk-margin-medium-bottom">
                <h2>Company <span class="in-highlight">legal docs.</span></h2>
            </div>
            <div class="uk-grid-divider uk-child-width-1-3@m uk-child-width-1-2@s" data-uk-grid>
                <div>
                    <i class="fas fa-file fa-lg in-icon-wrap circle primary-color"></i>
                    <h4 class="uk-margin-top">Terms of Service</h4>
                    <p>Read the Terms of Service and License Agreement for Blockit as well as our BlockitApp &amp; Developer Agreements.</p>
                    <ul class="uk-list uk-margin-top">
                        <li><a class="uk-button uk-button-text" href="#"><i class="fas fa-file-pdf uk-margin-small-right"></i>License Agreement</a></li>
                        <li><a class="uk-button uk-button-text" href="#"><i class="fas fa-file-pdf uk-margin-small-right"></i>Term of Services for Blockit Trade</a></li>
                    </ul>
                </div>
                <div>
                    <i class="fas fa-globe fa-lg in-icon-wrap circle primary-color"></i>
                    <h4 class="uk-margin-top">Policies</h4>
                    <p>Find out more about what information we collect at Blockit, how we use it, and what control you have over your data.</p>
                    <ul class="uk-list uk-margin-top">
                        <li><a class="uk-button uk-button-text" href="#"><i class="fas fa-file-pdf uk-margin-small-right"></i>Privacy Statement</a></li>
                    </ul>
                </div>
                <div class="uk-visible@m">
                    <i class="fas fa-shield-alt fa-lg in-icon-wrap circle primary-color"></i>
                    <h4 class="uk-margin-top">Security</h4>
                    <p>Learn more about how we keep your work and personal data safe when you’re using our services.</p>
                    <ul class="uk-list uk-margin-top">
                        <li><a class="uk-button uk-button-text" href="#"><i class="fas fa-file-pdf uk-margin-small-right"></i>Liquid Trade Security</a></li>
                        <li><a class="uk-button uk-button-text" href="#"><i class="fas fa-file-pdf uk-margin-small-right"></i>Responsible Disclosure Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
