.in-card-10 {    
    .uk-card-default {
        border: 0;
        background-color: $card-default-color;
        hr {
            border-width: 2px;
        }
        p {
            font-size: 0.882rem;
        }
        a {
            color: inherit;
            text-decoration: none;
            i {
                font-size: 11px;
                margin-top: 5px;
            }
        }
    }
    .uk-card-body {
        padding: 28px;
    }
    .uk-light {
        .in-icon-wrap {
            background: rgba(255,255,255,0.3);
            color: #fff;
        }
    }
    .in-card-green {
        background-color: #27BC9C;
    }
    .in-card-blue {
        background-color: #4284DD;
    }
    .in-card-purple {
        background-color: #9A5BB4;
    }
    .in-card-navy {
        background-color: #35495D;
    }
    .in-card-grey {
        background-color: #95A5A6;
    }
    .in-card-orange {
        background-color: #fd6a4f;
    }
}