.in-gallery-3 {
    .uk-overlay {
        padding-bottom: 100px;
    }
    .uk-overlay-primary {
        background: #000000;
        background: -webkit-linear-gradient(to bottom,rgba(0,0,0,0.52) 0%, rgba(255,255,255,0) 100%);
        background: -moz-linear-gradient(to bottom,rgba(0,0,0,0.52) 0%, rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom,rgba(0,0,0,0.52) 0%, rgba(255,255,255,0) 100%);
        .uk-text-muted {
            color: rgba(255,255,255,.7) !important;
        }
    }
    .uk-inline-clip {
        background-color: $gallery-default-color;
        a {
            img {
                transition: all ease 300ms;
            }
            &:hover {
                img {
                    filter: blur(2px);
                    -webkit-filter: blur(2px);
                    transition: all ease 300ms;
                    opacity: 0.8;
                }
            }
        }
    }
    .uk-button-default {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .uk-dropdown {
        background-color: $gallery-default-color;
        border: $gallery-border-width solid $gallery-border-color;
        border-bottom-left-radius: $gallery-border-radius;
        border-bottom-right-radius: $gallery-border-radius;
        border-top: $gallery-border-width solid $gallery-default-color;
        font-size: 16px;
        min-width: 177px;
        padding: 5px 28px 10px 28px;
    }
}