.in-gallery-2 {
    .uk-overlay {
        padding: 22px 22px 68px 68px;
    }
    .uk-overlay-primary {
        background: rgba(0,0,0,1);
        background: -webkit-radial-gradient(circle farthest-corner at top right,rgba(0,0,0,0.48) 0%,rgba(0,0,0,0.12) 50%,rgba(255,255,255,0) 65%);
        background: -moz-radial-gradient(circle farthest-corner at top right,rgba(0,0,0,0.48) 0%,rgba(0,0,0,0.12) 50%,rgba(255,255,255,0) 65%);
        background: radial-gradient(circle farthest-corner at top right,rgba(0,0,0,0.48) 0%,rgba(0,0,0,0.12) 50%,rgba(255,255,255,0) 65%);
    }
    .uk-inline-clip {
        background-color: #000;
        a {
            img {
                transition: all ease 300ms;

            }
            &:hover {
                img {
                    transition: all ease 300ms;
                    opacity: 0.8;
                }
            }
        }
    }
    .fas {
        font-size: 20px;
    }
}
