// gallery variables
$gallery-default-color:                           $base-default-color !default;
$gallery-muted-color:                             $base-muted-color !default;
$gallery-primary-color:                           $base-primary-color !default;
$gallery-secondary-color:                         $base-secondary-color !default;
$gallery-border-color:                            #ccc !default;
$gallery-border-color-2:                          $base-border-color-2 !default;
$gallery-border-width:                            $base-border-width !default;
$gallery-border-width-2:                          $base-border-width-2 !default;
$gallery-border-radius:                           $base-border-radius !default;
$gallery-border-radius-2:                         $base-border-radius-2 !default;


/* gallery component */
@import "gallery-2.scss";
@import "gallery-3.scss";
