.terraform/
id_rsa.pub
__pycache__
img*
.tox
*.lock
*.egg-info
dist
build
.build
.dist
node_modules
package-lock.json
*.DS_Store
venv/
.venv
*.pyc
instance/
.pytest_cache/
.coverage
htmlcov/
.env
*.crt
*.key
*.pfx
vendor
