// card variables
$card-default-color:                          #f8f8f8 !default;
$card-muted-color:                            $base-muted-color !default;
$card-primary-color:                          #d8dfe2 !default;
$card-secondary-color:                        $base-secondary-color !default;
$card-border-color:                           $base-border-color !default;
$card-border-color-2:                         $base-border-color-2 !default;
$card-border-width:                           $base-border-width !default;
$card-border-width-2:                         $base-border-width-2 !default;
$card-border-radius:                          $base-border-radius !default;
$card-border-radius-2:                        $base-border-radius-2 !default;


/* card component */
@import "card-3.scss";
@import "card-4.scss";
@import "card-8.scss";
@import "card-9.scss";
@import "card-10.scss";
@import "card-11.scss";
@import "card-12.scss";
@import "card-13.scss";
@import "card-14.scss";
// @import "card-16.scss";
@import "card-18.scss";

// card-paper-wrapper
@import "card-paper.scss";
