<div class="row wrapper">
  <div class="col-xs-hidden col-sm-hidden col-md-6 col-lg-6 wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Access List Management</h5>
        <div ibox-tools></div>
      </div>
      <div class="ibox-content col-xs-hidden col-sm-hidden col-md-hidden" >
        <div id="data" class="row">
        </div>
        <div id="help" class="row hidden">
          <div class="col-xs-hidden col-sm-hidden col-md-12 col-lg-12">
            <p>

            </p>
          </div>
        </div>
        <div id="settings" class="row hidden">
          <div class="col-xs-hidden col-sm-hidden col-md-12 col-lg-12">
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
