// counter variables
$counter-default-color:                       $base-default-color !default;
$counter-muted-color:                         $base-muted-color !default;
$counter-primary-color:                       $base-primary-color !default;
$counter-secondary-color:                     $base-secondary-color !default;
$counter-border-color:                        $base-border-color !default;
$counter-border-color-2:                      $base-border-color-2 !default;
$counter-border-width:                        $base-border-width !default;
$counter-border-width-2:                      $base-border-width-2 !default;
$counter-border-radius:                       $base-border-radius !default;
$counter-border-radius-2:                     $base-border-radius-2 !default;


/* counter component */
@import "counter-1.scss";
@import "counter-4.scss";
@import "counter-6.scss";
