.in-client-logo-3 {
    .uk-tile {
        padding: 10px 35px;
        img {
            opacity: 0.8;
            transition: 0.3s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }
}