$margin-padding: var(--margin-padding);
$margin-padding-mobile: var(--margin-padding-mobile);

$box-padding: var(--box-padding);
$box-padding-mobile: var(--box-padding-mobile);

$body-style-space: var(--body-style-space);
$smooth-width: var(--smooth-width);


$s-box-left-social: var(--s-box-left-social);
$s-box-left-menu: var(--s-box-left-menu);
$s-box-left: var(--s-box-left);
$s-box-right: var(--s-box-right);
$s-box-full: var(--s-box-full);

