header {    
    padding-top: 21px;
    .uk-logo {
        margin-top: -3px;
        margin-right: 40px;
    }
    .uk-navbar-container {
        position: relative;
        z-index: 1;
    }
    .in-header-inner {
        background-color: #212224;
        margin-top: -21px;
        .uk-navbar-container {
            margin-top: 21px;
            margin-bottom: 23px;
        }
    }
    .in-optional-nav {
        a.uk-button-text {
            i {
                font-size: 24px;
                margin-left: 25px;
            }
            &:hover {
                color: $base-default-color;
            }
        }
        .uk-button-primary {
            color: #212224;
        }
    }
    .uk-navbar-dropdown {
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: $base-border-radius;
        li {
            font-size: 14px;
            text-transform: initial;
        }
    }
}