// blokit base variable
$base-container-width:                     1170px !default;
$base-container-color:                     #fff !default;

$base-default-color:                       #fff !default;
$base-muted-color:                         #f8f8f8 !default;
$base-primary-color:                       #fc5b3f !default;
$base-secondary-color:                     #101112 !default;

$base-section-default-color:               $base-default-color;
$base-section-muted-color:                 $base-muted-color;
$base-section-primary-color:               $base-primary-color;
$base-section-secondary-color:             $base-secondary-color;

$base-border-color:                        #e8e8e8 !default;
$base-border-color-2:                      rgba(30, 135, 240, .09) !default;
$base-border-width:                        1px !default;
$base-border-width-2:                      2px !default;
$base-border-radius:                       6px !default;
$base-border-radius-2:                     12px !default;

$base-link:                                #fc5b3f !default;
$base-link-hover:                          #ca4932 !default;

$base-font-family:                         'Inter', sans-serif !default;
$base-font-weight:                         normal !default;
$base-font-size:                           17px !default;
$base-font-color:                          #717070 !default;
$base-font-small:                          0.764rem !default;

$base-text-lead-font-weight:               normal !default;
$base-text-lead-size:                      1.294rem !default;
$base-text-lead-line-height:               1.5 !default;
$base-text-lead-color:                     #727272 !default;

$base-text-primary-color:                  $base-primary-color !default;
$base-text-secondary-color:                #222 !default;
$base-text-success-color:                  #32d296 !default;
$base-text-warning-color:                  #faa05a !default;
$base-text-danger-color:                   #f0506e !default;

$base-heading-font:                        $base-font-family !default;
$base-heading-weight:                      700 !default;
$base-heading-color:                       #0f0f0f !default;