<div class="row wrapper">
  <div class="col-xs-hidden col-sm-hidden col-md-12 col-lg-12 wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Comparisons Summary</h5>
        <div ibox-tools></div>
      </div>
      <div class="ibox-content col-xs-hidden col-sm-hidden col-md-hidden" >
        <div class="col-md-4">
          <div id="testimonials-7" class="carousel slide testimonials testimonials-v1 testimonials-bg-dark">
            <div class="carousel-inner">
              <div class="item">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                  <img class="rounded-x" src="assets/img/testimonials/img1.jpg" alt="">
                  <span class="testimonial-author">
                    Jeremy Asigner
                    <em>Web Developer, Unify Theme.</em>
                  </span>
                </div>
              </div>
              <div class="item active">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                  <img class="rounded-x" src="assets/img/testimonials/user.jpg" alt="">
                  <span class="testimonial-author">
                    User
                    <em>Java Developer, Htmlstream</em>
                  </span>
                </div>
              </div>
              <div class="item">
                <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                <div class="testimonial-info">
                  <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
                  <span class="testimonial-author">
                    Kate Davenport
                    <em>Web Designer, Google Inc.</em>
                  </span>
                </div>
              </div>
            </div>

            <div class="carousel-arrow">
              <a class="left carousel-control" href="#testimonials-7" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="right carousel-control" href="#testimonials-7" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row wrapper">
  <div class="col-xs-hidden col-sm-hidden col-md-12 col-lg-12 wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Insights & Recommendations</h5>
        <div ibox-tools></div>
      </div>
      <div class="ibox-content col-xs-hidden col-sm-hidden col-md-hidden" >
        <div class="col-md-6">
          <d3-sunburst />
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="row wrapper">
  <div class="col-xs-hidden col-sm-hidden col-md-12 col-lg-12 wrapper-content">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Examples</h5>
        <div ibox-tools></div>
      </div>
      <div class="ibox-content col-xs-hidden col-sm-hidden col-md-hidden" >
      </div>
    </div>
  </div>
</div>
