<!-- <div class="leftbar-content">
  <div class="content">
    <md-fab-toolbar md-direction="left">
      <md-fab-trigger>
        <md-button aria-label="Add..."><md-icon icon="/img/icons/plus.svg"></md-icon></md-button>
      </md-fab-trigger>

      <md-toolbar>
        <md-fab-actions>
          <md-button aria-label="Add User">
            <md-icon icon="/img/icons/user.svg"></md-icon>
          </md-button>

          <md-button aria-label="Add Group">
            <md-icon icon="/img/icons/group.svg"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-toolbar>
    </md-fab-toolbar>
  </div>
</div> -->
