<!-- section content begin -->
<div class="uk-section in-liquid-14">
    <div class="uk-container">
        <div class="uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
            <div class="uk-width-expand@m">
                <h2>A broker you can <span class="in-highlight">Trust</span>.</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
                <div class="uk-grid uk-grid-collapse uk-child-width-1-3@m uk-child-width-1-2@s uk-text-center uk-margin-medium-top">
                    <div class="uk-tile uk-tile-default">
                        <p class="uk-text-lead uk-margin-remove-bottom">LQUD</p>
                        <p class="uk-text-small uk-text-muted uk-margin-remove-top">Nasdaq Listed</p>
                    </div>
                    <div class="uk-tile uk-tile-default">
                        <p class="uk-text-lead uk-margin-remove-bottom">$7B</p>
                        <p class="uk-text-small uk-text-muted uk-margin-remove-top">Equity Capital</p>
                    </div>        
                    <div class="uk-tile uk-tile-default">
                        <p class="uk-text-lead uk-margin-remove-bottom">78.2%</p>
                        <p class="uk-text-small uk-text-muted uk-margin-remove-top">Privately Held</p>
                    </div>        
                    <div class="uk-tile uk-tile-default">
                        <p class="uk-text-lead uk-margin-remove-bottom">$6.0B</p>
                        <p class="uk-text-small uk-text-muted uk-margin-remove-top">Excess Capital</p>
                    </div>        
                    <div class="uk-tile uk-tile-default uk-visible@m">
                        <p class="uk-text-lead uk-margin-remove-bottom">1.07M</p>
                        <p class="uk-text-small uk-text-muted uk-margin-remove-top">Client Accounts</p>
                    </div>        
                    <div class="uk-tile uk-tile-default uk-visible@m">
                        <p class="uk-text-lead uk-margin-remove-bottom">2.11M</p>
                        <p class="uk-text-small uk-text-muted uk-margin-remove-top">Daily Avg Revenue</p>
                    </div>
                </div>
                <a class="uk-button uk-button-text uk-border-rounded uk-margin-medium-top" href="#">Asset protection<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                <p class="uk-text-small">For additional information view our Investors Relations - <a href="#">clicking here.</a></p>
            </div>
            <div class="uk-width-1-2@m">
                <img class="uk-width-1-1" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-object-5.svg" alt="sample-image" data-width data-height data-uk-img>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
