<!-- section content begin -->
<div class="uk-section uk-section-muted uk-padding-large in-liquid-8">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center in-offset-bottom-20">
            <div class="uk-width-5-6@m uk-text-center">
                <h2 class="uk-margin-remove">Liquid trading academy.</h2>
                <p class="uk-text-lead uk-text-muted uk-margin-small-top">Explore, Learn, and Grow</p>
                <div class="uk-grid-medium uk-child-width-1-3@m" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <h6><i class="fas fa-video uk-margin-small-right"></i>9 Lessons 70+ Videos</h6>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <h6><i class="fas fa-graduation-cap uk-margin-small-right"></i>Test your Knowledge</h6>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body">
                            <h6><i class="fas fa-award uk-margin-small-right"></i>Certificate Awarded</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
            <div class="uk-width-3-5@m">
                <div class="uk-inline uk-dark in-liquid-video uk-margin-small-bottom">
                    <img class="uk-border-rounded uk-width-1-1" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-8-image.jpg" alt="sample-images" width="533" height="355" data-uk-img>
                    <div class="uk-position-center">
                        <a href="#link" data-uk-toggle>
                            <div class="in-play-button"></div>
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                    <div class="uk-flex-top" data-uk-modal>
                        <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical in-iframe">
                            <button class="uk-modal-close-outside" type="button" data-uk-close></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand@m">
                <h3>What you will learn</h3>
                <ul class="uk-list uk-list-bullet in-list-check">
                    <li>Introduction to Financial Trading</li>
                    <li>Technical Analysis</li>
                    <li>Fundamental Analysis</li>
                    <li>When to Enter & Exit Trades</li>
                    <li>How to Manage Risk</li>
                    <li>Trading Psychology</li>
                </ul>
                <a class="uk-button uk-button-primary uk-border-rounded uk-margin-small-top" href="#">Create demo account now<i class="fas fa-angle-right uk-margin-small-left"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
