  <div id="page-wrapper">
  	<div class="row wrapper">
  		<div class="col-xs-hidden col-sm-hidden col-md-12 col-lg-12">
  			<div class="ibox float-e-margins">
  				<div class="ibox-title">
  					<h5>Welcome to IT Operations</h5>
  					<div ibox-tools></div>
  				</div>
  			</div>
  			<div class="ibox-content" >

  			</div><!--End ibox-content-->
  		</div><!--End ibox-->
  	</div><!--End 1/0-->



  </div>


  <!-- <div ui-view="rightsidebar"></div>
  <div ui-view="dashboard"></div> -->
