---
layout: default
title: Blog
---

<main>
    <!-- section content begin -->
    <div class="uk-section uk-margin-small-top">
        <div class="uk-container">
            <div class="uk-grid" data-uk-grid>
                <div class="uk-width-2-3@m">
                    {{> section-blog-list }}
                    {{> module-pagination }}
                </div>
                <div class="uk-width-expand@m">
                    {{> module-widget-search}}
                    {{> module-widget-categories}}
                    {{> module-widget-popular}}
                    {{> module-widget-tags}}
                </div>
            </div>
        </div>
    </div>
    <!-- section content end -->
</main>
