<footer>
    <!-- footer content begin -->
    {{> module-footer-feature}}
    <div class="uk-section uk-background-secondary uk-light">
        <div class="uk-container uk-text-small">
            <div class="uk-child-width-1-2@m" data-uk-grid>
                <div class="in-footer-logo">
                    <img src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-logo-1.svg" alt="logo" width="127" height="27" data-uk-img>
                </div>
                <div class="uk-flex uk-flex-right@m">
                    <div class="in-footer-socials">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-telegram-plane"></i></a>
                        
                    </div>
                    <a class="uk-button uk-button-text uk-margin-large-left uk-visible@m" href="#">Company News</a>
                    <a class="uk-button uk-button-text uk-margin-large-left uk-visible@m" href="#">Partnership</a>
                </div>
            </div>
            <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-margin-large-top" data-uk-grid>
                <div>
                    <h5>Markets</h5>
                    <ul class="uk-list uk-link-text">
                        <li><a href="#">Share CFDs</a></li>
                        <li><a href="#">Forex</a></li>
                        <li><a href="#">Indices</a></li>
                        <li><a href="#">Commodities</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Trading Platforms</h5>
                    <ul class="uk-list uk-link-text">
                        <li><a href="#">Web platform</a></li>
                        <li><a href="#">Trading apps</a></li>
                        <li><a href="#">MetaTrader 5</a></li>
                        <li><a href="#">Compare features</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Account Types</h5>
                    <ul class="uk-list uk-link-text">
                        <li><a href="#">Demo account</a></li>
                        <li><a href="#">Standart account</a></li>
                        <li><a href="#">ECN account</a></li>
                        <li><a href="#">Islamic acount</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Learn to Trade</h5>
                    <ul class="uk-list uk-link-text">
                        <li><a href="#">News and trade ideas</a></li>
                        <li><a href="#">Trading strategy</a></li>
                        <li><a href="#">Forex trading course</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-grid uk-margin-large-top">
                <div class="uk-width-1-1">
                    <p class="uk-heading-line uk-margin-large-bottom"><span>Copyright ©2021 Liquid Inc. All Rights Reserved.</span></p>
                    <p class="in-trading-risk">Trading derivatives and leveraged products carries a high level of risk, including the risk of losing substantially more than your initial investment. It is not suitable for everyone. Before you make any decision in relation to a financial product you should obtain and consider our Product Disclosure Statement (PDS) and Financial Services Guide (FSG) available on our website and seek independent advice if necessary</p>
                </div>
            </div>
        </div>        
    </div>
    <!-- footer content end -->
    {{> module-totop }}
</footer>
