.in-brand-google,
a.in-brand-google {
    background-color: #4687f2;
    color: $base-default-color;
    &:hover {
        background-color: lighten(#4687f2, 6%);
    }
}
.in-brand-facebook,
a.in-brand-facebook {            
    background-color: #3B5999;
    color: $base-default-color;
    &:hover {
        background-color: lighten(#3B5999, 10%);
    }
}
.in-brand-twitter,
a.in-brand-twitter {
    background-color: #1DA1F2;
    color: $base-default-color;
    &:hover {
        background-color: lighten(#1DA1F2, 6%);
    }
}
.in-brand-pinterest,
a.in-brand-pinterest {
    background-color: #BD081C;
    color: $base-default-color;
    &:hover {
        background-color: lighten(#BD081C, 6%);
    }
}
.in-brand-youtube,
a.in-brand-youtube {
    background-color: #CD201F;
    color: $base-default-color;
    &:hover {
        background-color: lighten(#CD201F, 6%);
    }
}
.in-generic-email,
a.in-generic-email {
    background-color: #37474f;
    color: $base-default-color;
    &:hover {
        background-color: lighten(#37474f, 6%);
    }
}

/* download app button */ 
.in-button-app {
    font-size: 12px;
    text-transform: capitalize;
    text-align: left;
    line-height: 15px;
    padding: 6px 12px 7px;
    letter-spacing: 0;
    span.wrapper {        
        float: right;
        span {  
            font-weight: $base-heading-weight;
            font-size: 12px;          
            &::before {
                content: "\A";
                white-space: pre;
            }
        }
    }
    i {
        margin-right: 12px;
        position: relative;
        top: 6px;
    }
}