---
apiVersion: v1
kind: Secret
metadata:
  name: secret-basic-auth
type: kubernetes.io/basic-auth
stringData:
  username: admin
  password: {{ lookup('env', 'VP')}}"
  roles: superuser
---
apiVersion: v1
kind: Secret
metadata:
  name: digitalocean
  namespace: kube-system
stringData:
  access-token: "{{ lookup('env', 'DO_PAT')}}"
---
apiVersion: v1
kind: Secret
metadata:
  name: registry-do
  namespace: default
data:
  .dockerconfigjson: "{{ lookup('env', 'DO_REGISTRY_DOCKERCONFIG') }}"
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: Secret
metadata:
  name: digitalocean
  namespace: cert-manager
stringData:
  access-token: "{{ lookup('env', 'DO_PAT')}}"
---
apiVersion: v1
kind: Secret
metadata:
  name: openaiapikey
  namespace: default
stringData:
  access-token: "{{ lookup('env', 'OPENAI_API_KEY')}}"

---
apiVersion: v1
kind: Secret
metadata:
  name: honeycombapikey
  namespace: default
stringData:
  access-token: "{{ lookup('env', 'HONEYCOMB_TOKEN')}}"

---
apiVersion: v1
kind: Secret
metadata:
  name: newrelicapikey
  namespace: default
stringData:
  access-token: "{{ lookup('env', 'NEWRELIC_TOKEN')}}"

---
apiVersion: v1
kind: Secret
metadata:
  name: atlantiswebhooksecret
  namespace: default
stringData:
  access-token: "{{ lookup('env', 'ATLANTIS_WEBHOOK_SECRET')}}"

---
apiVersion: v1
kind: Secret
metadata:
  name: ccmrobotpat
  namespace: default
stringData:
  access-token: "{{ lookup('env', 'CCM_ROBOT_PAT')}}"
---
apiVersion: v1
kind: Secret
metadata:
  name: slackwebhookvpn
  namespace: default
stringData:
  url: "{{ lookup('env', 'SLACK_WEBHOOK_VPN')}}"
---
apiVersion: v1
kind: Secret
metadata:
  name: vp
  namespace: default
stringData:
  pass: "{{ lookup('env', 'VP')}}"
---
apiVersion: v1
kind: Secret
metadata:
  name: secret-basic-auth
type: kubernetes.io/basic-auth
stringData:
  username: vchokshi
  password: "{{ lookup('env', 'VP')}}"
  roles: kibana_admin,ingest_admin
