<div class="view left-menu-content content-10">
  <!-- Welcome Block -->
  <div class="col-md-8 md-margin-bottom-20">
    <div class="headline"><h2>Welcome To The Videbligo Demonstration Center!</h2></div>
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive margin-bottom-20" src="img/logo/Videbligo_1kx1k.png" alt="">
      </div>
      <div class="col-sm-8">
        <p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>
        <ul class="list-unstyled margin-bottom-20">
          <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
          <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
          <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
          <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
        </ul>
      </div>
    </div>

    <blockquote class="hero-unify">
      <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
      <small>CEO, Jack Bour</small>
    </blockquote>
  </div><!--/col-md-8-->

  <!-- Latest Shots -->
  <div class="col-md-4">
    <div class="headline"><h2>Latest Shots</h2></div>
    <div id="myCarousel" class="carousel slide carousel-v1">
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/img/main/img4.jpg" alt="">
          <div class="carousel-caption">
            <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
          </div>
        </div>
        <div class="item">
          <img src="assets/img/main/img2.jpg" alt="">
          <div class="carousel-caption">
            <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
          </div>
        </div>
        <div class="item">
          <img src="assets/img/main/img24.jpg" alt="">
          <div class="carousel-caption">
            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
          </div>
        </div>
      </div>

      <div class="carousel-arrow">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div><!--/col-md-4-->
</div>
