.dsn-service {

  .service_title {
    text-transform: uppercase;
  }

  .service-item-inner {
    &.border-style:not(.p-20), &.background-theme, &.background-main, &.background-section {
      padding: 60px 30px;
    }
  }


  .number-item:before {
    right: 45px;
    top: 50px;
    font-size: 7vw;
    line-height: 1;
    font-family: $heading-font;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1.5px $border-color;
    opacity: 0.2;
    z-index: 2;
    pointer-events: none;
  }

  .service-item {
    @include media_768(min) {
      &.border-left {
        padding-left: 50px;
      }
    }
    @include media_768() {
      &.border-left {
        border-width: 0;
      }
    }

    &.border-bottom {
      padding-bottom: 40px;
    }

    ul {
      list-style: none;
      line-height: 1.3;

      li {
        margin-bottom: 10px;
      }

    }


    .service-item-inner {


      .icon-left &, .icon-right & {
        display: flex;

        .dsn-icon:not(.dsn-bg-before) {
          flex-shrink: 0;
        }
      }

      .icon-left & .dsn-icon:not(.dsn-bg-before) {
        margin-right: 20px;
      }

      .icon-top & .dsn-icon:not(.dsn-bg-before) {
        padding-bottom: 20px;
      }

      .icon-right & .dsn-icon:not(.dsn-bg-before) {
        order: 2;
        margin-left: 20px;
      }

    }

  }

  .service-with-img & {
    @include media_991(min) {
      .service-item {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        z-index: 1;
        background-color: transparent;

        .service_description {
          color: $heading-color;
        }

        &, .dsn-def-btn {
          justify-content: center;
        }

        .service-item-inner {
          height: auto;
        }

        &.active + .item-bg {
          opacity: 1;
        }
      }

      .service_description {
        display: none;
      }

      .item-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0;
        transition: opacity 3s cubic-bezier(0.19, 1, 0.22, 1) 0ms, transform 2s cubic-bezier(0.19, 1, 0.22, 1) 0ms, -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      }
    }
    @include media_991() {
      .service-item {
        height: auto !important;
      }
      .item-bg {
        display: none;
      }
    }

  }

}

.service-with-img {

  .dsn-service {
    position: relative;

  }

  @include media_991() {
    .dsn-service {
      &.hv-100 {
        height: inherit;
      }

      .service-item {
        border: 1px solid $border-color;
        padding: 60px 30px;
      }

    }
    .dsn-bg-mask {
      display: none;
    }
    margin-top: $margin-padding;
  }


}


