<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" data-uk-grid>
            <div class="uk-width-3-5@m">
                <h2 class="uk-margin-small-bottom"><span class="in-highlight">Knowledge</span> is a wise investment.</h2>
                <p class="uk-text-lead uk-text-muted uk-margin-remove-top uk-margin-medium-bottom">By combining easy-to-understand information with actionable insights, Our company helps make the market seem less daunting and more approachable.</p>                
                <span class="uk-label uk-label-success uk-text-small uk-border-pill">Learn</span>
                <i class="fas fa-arrows-alt-h fa-sm uk-margin-small-left uk-margin-small-right"></i>
                <span class="uk-label uk-label-success uk-text-small uk-border-pill">Understand</span>
                <i class="fas fa-arrows-alt-h fa-sm uk-margin-small-left uk-margin-small-right"></i>
                <span class="uk-label uk-label-success uk-text-small uk-border-pill">Trade</span>                
            </div>
            <div class="uk-width-2-5@m">
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded">                    
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-expand@m">
                            <h3 class="uk-margin-remove-bottom">Trade Academy</h3>
                            <p class="uk-margin-small-top">Reprehenderit in voluptate velit esse cillum dolore laboris irure.</p>
                            <a class="uk-button uk-button-text uk-border-rounded" href="#">Start Learning<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                        </div>
                        <div class="uk-width-auto@m uk-visible@m">
                            <div class="in-icon-wrapper transparent uk-margin-top">
                                <i class="fas fa-user-graduate fa-5x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
