<!-- section content begin -->
<div class="uk-section in-offset-top-50">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <h3 class="uk-margin-bottom">Leave a comment</h3>
                <form class="uk-form uk-grid-small" data-uk-grid>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input uk-border-rounded" id="name" name="name" type="text" placeholder="Full name">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input uk-border-rounded" id="email" name="email" type="email" placeholder="Email address">
                        </div>
                        <div class="uk-width-1-1">
                            <textarea class="uk-textarea uk-border-rounded" id="message" name="message" rows="6" placeholder="Comment"></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-width-1-1 uk-button uk-button-primary uk-border-rounded" type="submit" name="submit">Post comment</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
