<!-- section content begin -->
<div class="uk-section in-offset-top-20">
    <div class="uk-container">
        <div class="uk-grid-medium uk-child-width-1-2@m in-testimonial-8" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-small uk-border-rounded">
                    <img class="uk-position-bottom-right" src="{{root}}img/in-testimoni-2.png" alt="client-testimoni" width="200">
                    <div class="uk-card-header">
                        <blockquote>
                            <p>The extension makes collecting feedback so much easier! Shipright then really helps us make decisions based on the data we collected.</p>
                        </blockquote>
                    </div>
                    <div class="uk-card-footer">
                        <img src="{{root}}img/in-client-testi-1.svg" alt="client-logo" width="54">
                        <blockquote>
                            <footer>Gabrielle Barger<br><cite>Help Desk at pushbullet</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-small uk-border-rounded">
                    <img class="uk-position-bottom-right" src="{{root}}img/in-testimoni-3.png" alt="client-testimoni" width="200">
                    <div class="uk-card-header">
                        <blockquote>
                            <p>Quick, easy, and super helpful to collect and organise feedback from all kinds of channels we use to communicate with our customers.</p>
                        </blockquote>
                    </div>
                    <div class="uk-card-footer">
                        <img src="{{root}}img/in-client-testi-2.svg" alt="client-logo" width="54">
                        <blockquote>
                            <footer>Melvin Cortez<br><cite>Cloud Architect at stormpath</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
