<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 in-content-10">
                <div class="uk-card uk-card-primary uk-card-body uk-border-rounded uk-background-bottom-left uk-background-contain" style="background-image: url({{root}}img/in-content-10-image.png);">
                    <div class="uk-grid uk-flex uk-flex-center">
                        <div class="uk-width-3-5@m uk-text-center">
                            <h2 class="uk-margin-small-top">Hi, we’re here to help.</h2>
                            <form class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom">
                                <span data-uk-search-icon></span>
                                <input class="uk-search-input uk-border-pill" type="search" placeholder="Search for articles...">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="uk-grid-divider uk-child-width-1-3@m uk-child-width-1-2@s uk-margin-medium-top" data-uk-grid>
                    <div>
                        <h4 class="uk-heading-bullet"><a class="uk-link-text" href="#">How-tos &amp; Tutorials</a></h4>
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-expand@m">
                                <p>Cupidatat non proident sunt et excepteur sint occaecat</p>
                            </div>
                            <div class="uk-width-auto@m">
                                <i class="fas fa-question fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                            </div>
                        </div>
                    </div>
                    <div class="uk-visible@m">
                        <h4 class="uk-heading-bullet"><a class="uk-link-text" href="#">Security and Privacy</a></h4>
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-expand@m">
                                <p>Similique suculpa officia deserunt mollitia animi dolores</p>
                            </div>
                            <div class="uk-width-auto@m">
                                <i class="fas fa-unlock-alt fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4 class="uk-heading-bullet"><a class="uk-link-text" href="#">Open a Support ticket</a></h4>
                        <div class="uk-grid uk-grid-small" data-uk-grid>
                            <div class="uk-width-expand@m">
                                <p>Voluptatibus maiores alias mauli consequatur aut perferendis</p>
                            </div>
                            <div class="uk-width-auto@m">
                                <i class="fas fa-life-ring fa-3x in-icon-wrap small transparent uk-margin-left"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
