<!-- section content begin -->
<div class="uk-section uk-section-small in-offset-top-50">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <h3 class="uk-margin-small-bottom">Comments</h3>
                <ul class="uk-comment-list">
                    <li>
                        <article class="uk-comment uk-visible-toggle" tabindex="-1">
                            <div class="uk-grid uk-grid-medium">
                                <div class="uk-width-auto">
                                    <header class="uk-comment-header">
                                        <img class="uk-border-circle uk-background-muted uk-comment-avatar" src="{{root}}img/in-team-4.png" width="70" height="70" alt="avatar">
                                    </header>
                                </div>
                                <div class="uk-width-expand">
                                    <div class="uk-comment-body uk-position-relative">
                                        <div class="uk-position-top-right uk-hidden-hover"><a href="#"><i class="fas fa-reply fa-xs uk-margin-small-right"></i>Reply</a></div>
                                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Mark Harris</a></h4>
                                        <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset uk-text-small" href="#"><i class="fas fa-clock fa-sm uk-margin-small-right"></i>April 25, 2020</a></p>
                                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequ vel illum qui dolorem eum fugiat quo voluptas nulla pariatur sunt in culpa qui officia deserunt mollit anim id est laborum adipisci velit.</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <ul>
                            <li>
                                <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
                                    <div class="uk-grid uk-grid-medium">
                                        <div class="uk-width-auto">
                                            <header class="uk-comment-header">
                                                <img class="uk-border-circle uk-background-muted uk-comment-avatar" src="{{root}}img/in-team-6.png" width="70" height="70" alt="avatar">
                                            </header>
                                        </div>
                                        <div class="uk-width-expand">
                                            <div class="uk-comment-body uk-position-relative">
                                                <div class="uk-position-top-right uk-hidden-hover"><a href="#"><i class="fas fa-reply fa-xs uk-margin-small-right"></i>Reply</a></div>
                                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Dennis Olson</a></h4>
                                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset uk-text-small" href="#"><i class="fas fa-clock fa-sm uk-margin-small-right"></i>April 27, 2020</a></p>
                                                <p>Tuis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequ vel illum qui dolorem.</p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <article class="uk-comment uk-visible-toggle" tabindex="-1">
                            <div class="uk-grid uk-grid-medium">
                                <div class="uk-width-auto">
                                    <header class="uk-comment-header">
                                        <img class="uk-border-circle uk-background-muted uk-comment-avatar" src="{{root}}img/in-team-9.png" width="70" height="70" alt="avatar">
                                    </header>
                                </div>
                                <div class="uk-width-expand">
                                    <div class="uk-comment-body uk-position-relative">
                                        <div class="uk-position-top-right uk-hidden-hover"><a href="#"><i class="fas fa-reply fa-xs uk-margin-small-right"></i>Reply</a></div>
                                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Peter Morrison</a></h4>
                                        <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset uk-text-small" href="#"><i class="fas fa-clock fa-sm uk-margin-small-right"></i>April 25, 2020</a></p>
                                        <p>Molestiae consequ vel illum qui dolorem eum fugiat quo voluptas nulla pariatur sunt in culpa qui officia deserunt mollit anim id est laborum adipisci velit.</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>                
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
