.in-team-3 {
    .uk-card-default {
        border: $team-border-width solid $team-border-color;
        background-color: $team-default-color;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}