& {
  counter-reset: workcounter;

  .box-image-bg {
    height: 70vh;
  }

  .box-image-link{
    position: relative;
  }

  .box-content {
    flex-direction: column;
    padding-left: 50px;


    &:before {
      counter-increment: workcounter;
      position: absolute;
      left: 0;
      content: counters(workcounter, ".", decimal-leading-zero);
      font-style: italic;
      font-size: 40px;

      color: $body-color;
      font-family: $heading-font;
      z-index: 5;
      opacity: 0.35;
    }

    .post-title {
      padding-left: 40px;
      padding-bottom: 15px;
    }

    .post-title-info {
      display: flex;
      flex-direction: column;
      align-items: end;
      padding-top: 20px;
    }

    .dsn-post-link {
      position: absolute;
      left: -50px;
      bottom: 10px;
      width: 120px;
      height: 120px;
      line-height: 120px;
      text-align: center;
      border-radius: 50%;
      color: $heading-color;
      text-transform: uppercase;

    }
  }

  .dsn-swiper a.box-image-link {
    pointer-events: none;
  }
}

