<!-- widget content begin -->
<aside class="uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">        
        <h5 class="uk-heading-bullet uk-text-uppercase uk-margin-remove-bottom">Categories</h5>
        <ul class="uk-list in-widget-category">
            <li><a href="#">Top stories<span class="uk-label uk-label-success uk-text-small uk-border-pill uk-float-right">2</span></a></li>
            <li><a href="#">Investments<span class="uk-label uk-label-success uk-text-small uk-border-pill uk-float-right">6</span></a></li>
            <li><a href="#">Opinions<span class="uk-label uk-label-success uk-text-small uk-border-pill uk-float-right">3</span></a></li>
            <li><a href="#">Community<span class="uk-label uk-label-success uk-text-small uk-border-pill uk-float-right">4</span></a></li>
            <li><a href="#">News<span class="uk-label uk-label-success uk-text-small uk-border-pill uk-float-right">7</span></a></li>
        </ul>
    </div>
</aside>
<!-- widget content end -->
