<!-- widget content begin -->
<aside class="uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
        <h5 class="uk-heading-bullet uk-text-uppercase uk-margin-remove-bottom">Archive</h5>
        <ul class="uk-list in-widget-archive">
            <li><a href="#">March 2020<i class="fas fa-chevron-right uk-float-right"></i></a></li>
            <li><a href="#">February 2020<i class="fas fa-chevron-right uk-float-right"></i></a></li>
            <li><a href="#">January 2020<i class="fas fa-chevron-right uk-float-right"></i></a></li>
        </ul>
    </div>
</aside>
<!-- widget content end -->
