<li>
    <div class="uk-container">
        <div class="uk-grid-medium" data-uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-overlay">
                    <h1>Multi-regulated global broker.</h1>
                    <p class="uk-text-lead uk-visible@m">A trusted destination for traders worldwide, Authorised by FCA, ASIC &amp; FSCA</p>
                    <a href="#" class="uk-button uk-button-default uk-border-rounded uk-visible@s">Discover accounts</a>
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <img class="in-slide-img" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-slide-2.svg" alt="image-slide" width="500" height="400" data-uk-img>
            </div>
        </div>
    </div>
</li>
