<!-- module pagination begin -->
<ul class="uk-pagination uk-flex-center uk-margin-medium-top">
    <li class="uk-active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#"><i class="fas fa-angle-right fa-xs"></i></a></li>
</ul>
<!-- module pagination end -->
