<!-- widget content begin -->
<aside class="uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
        <h5 class="uk-heading-bullet uk-text-uppercase uk-margin-remove-bottom">Tags</h5>
        <div class="uk-margin-top in-widget-tag">
            <a href="#"><span class="uk-label uk-border-pill">Asia</span></a>
            <a href="#"><span class="uk-label uk-border-pill">Business</span></a>
            <a href="#"><span class="uk-label uk-border-pill">Startups</span></a>
            <a href="#"><span class="uk-label uk-border-pill">Automotive</span></a>
            <a href="#"><span class="uk-label uk-border-pill">Travels</span></a>
            <a href="#"><span class="uk-label uk-border-pill">Politics</span></a>
            <a href="#"><span class="uk-label uk-border-pill">Marketing</span></a>
            <a href="#"><span class="uk-label uk-border-pill">Technology</span></a>
        </div>
    </div>
</aside>
<!-- widget content end -->
