.in-blog-1 {
    .uk-card-default {
        border: $blog-border-width solid $blog-border-color;
        background-color: $blog-default-color;
        a {
            color: inherit;
            text-decoration: none;
            &.uk-button-text {
                color: $blog-primary-color;
                &:hover {
                    color: darken($blog-primary-color, 10%);
                }
            }
        }
    }
    .uk-card-media-top {
        img {
            border-top-left-radius: $blog-border-radius;
            border-top-right-radius: $blog-border-radius;
        }
    }
    .uk-card-footer {
        border-top: $blog-border-width solid $blog-border-color;
    }
}
