.in-article {
    .in-figure-available {
        margin-bottom: -158px;
    }
    blockquote {
        font-family: $base-font-family;
        font-size: 22px;
        font-style: normal;
        border-left: $base-border-width-2 solid $base-border-color;
        margin: 42px 0 42px 22px;
        padding-left: 45px;
        p:first-of-type::before {
            content: "";
        }
        footer {            
            cite::before {
                content: "—";
                margin-right: 10px;
            }
        }
    }
    .in-article-tags {
        margin-top: 2px;
        font-size: $base-font-small;
        i {
            position: relative;
            top: 1px;
        }
    }
    .in-article-share {
        margin-top: -2px;
        a.uk-label {
            width: 16px;
            color: $base-default-color;
            text-align: center;
        }
    }    
}
@media (max-width: 960px) {
    .in-article {
        .in-figure-available {
            margin-bottom: 0;
            img {
                &.uk-width-1-1 {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    margin-bottom: -3px;
                }
            }
        }
        article.uk-card {
            z-index: -1;
        }
        blockquote {
            margin: 42px 0 42px 0px;
            padding-left: 30px;
        }
    }
}
@media (max-width: 480px) {
    .in-article {        
        .in-article-share {
            margin: 10px 0 5px 0;
            float: left;
        }
    }
}