// uikit card variables
// ========================================================================
$card-default-background:                       #f2f3f5 !default;
$card-primary-background:                       #fa5945 !default;
$card-secondary-background:                     #212224 !default;
