@import "../../base/base-variables.scss";

// uikit dotnav variables
// ========================================================================
// $dotnav-margin-horizontal:                       23px !default;

// $dotnav-item-width:                              8px !default;
// $dotnav-item-height:                             $dotnav-item-width !default;

// $inverse-dotnav-item-background:                 $base-default-color !default;
// $inverse-dotnav-item-active-background:          transparent !default;
