@import "../../base/base-variables.scss";

// uikit nav variables
// ========================================================================
$nav-default-item-color:                         $base-default-color !default;
$nav-default-item-hover-color:                   $base-default-color !default;
$nav-default-item-active-color:                  $base-primary-color !default;
$nav-default-sublist-item-color:                 darken($base-default-color, 25%) !default;
$nav-default-sublist-item-hover-color:           $base-default-color !default;
$nav-default-sublist-item-active-color:          $base-primary-color !default;
$nav-parent-icon-color:                          $base-default-color !default;
