@import "../../base/base-variables.scss";

// uikit navigation variables
// ========================================================================
$navbar-background:                              transparent !default;
$navbar-color-mode:                              none !default;

$navbar-nav-item-height:                         80px !default;
$navbar-nav-item-padding-horizontal:             16px !default;
$navbar-nav-item-color:                          #a8a8a8 !default;
$navbar-nav-item-font-size:                      15px !default;
$navbar-nav-item-font-family:                    $base-font-family !default;
$navbar-nav-item-hover-color:                    #d4d4d4 !default;
$navbar-nav-item-onclick-color:                  #fff !default;
$navbar-nav-item-active-color:                   #fff !default;

$navbar-dropdown-width:                          200px !default;
$navbar-dropdown-margin:                         0 !default;
$navbar-dropdown-padding:                        15px !default;
$navbar-dropdown-background:                     #fff !default;
$navbar-dropdown-grid-gutter-horizontal:         40px !default;
$navbar-dropdown-grid-gutter-vertical:           $navbar-dropdown-grid-gutter-horizontal !default;

$navbar-dropdown-nav-item-color:                 #868686 !default;
$navbar-dropdown-nav-item-hover-color:           #434343 !default;
$navbar-dropdown-nav-item-active-color:          $base-primary-color !default;

$navbar-dropdown-box-shadow:                     0 5px 12px rgba(0,0,0,0.15) !default;
$navbar-dropdown-grid-divider-border-width:      1px !default;
$navbar-dropdown-grid-divider-border:            #e5e5e5 !default;

$logo-font-family:                               $navbar-nav-item-font-family !default;
