@import "../../base/base-variables.scss";

// uikit section variables
// ========================================================================
$section-default-background:                       $base-section-default-color !default;
$section-muted-background:                         $base-section-muted-color !default;
$section-primary-background:                       $base-section-primary-color !default;
$section-secondary-background:                     $base-section-secondary-color !default;

$section-padding-vertical-m:                       45px !default;
