// uikit table variables
// ========================================================================
// $table-header-cell-font-size:                    13px !default;
// $table-header-cell-font-weight:                  500 !default;
// $table-header-cell-color:                        #333 !default;
