.social-side {
  position: fixed;
  left: 25px;
  bottom: 50px;
  z-index: 10;
  display: flex;
  mix-blend-mode: exclusion;
  color: #fff;
  --heading-color: #fff;
  --border-color: #fff;
  @include media_991 {
    display: none;
  }


  .icon {
    text-align: center;
    width: 30px;
    line-height: 30px;
    cursor: pointer;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 12px;

    &:before {
      content: "";
      position: relative;
      display: inline-block;
      border-left: 1px solid $border-color;
      height: 50px;
      margin-bottom: 10px;
    }
  }


  //&:hover .socials li {
  //  opacity: 1;
  //  visibility: visible;
  //  transform: translateX(0);
  //}
}

.socials {
  text-align: center;
  font-size: 14px;


  li {
    //opacity: 0;
    //visibility: hidden;
    //transition: all 0.5s;
    //transform: translateX(-10px);
    //transition-delay: calc(100ms * var(--dsn-index-animate));


    a {
      position: relative;
      margin-bottom: 10px;
      margin-top: 5px;
      color: $heading-color;


      &:after, span, &:hover i {
        transition: all 0.3s cubic-bezier(0.55, 0.02, 0.1, 0.9);

      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $heading-color;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.2);
      }


      i {
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }


      span {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $heading-color;
        font-size: 13px;
        opacity: 0;
        transform-origin: center bottom;
        cursor: pointer;
        transform: translateX(0px) translateY(-50%);
      }


      &:hover {
        i {
          transform: scale(0);
        }


        label {
          opacity: 1;
          transform: matrix(1, 0, 0, 1, 12, -8);
          transition: all 0.6s cubic-bezier(0.75, -0.5, 0, 1.75);
        }


        &:after {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
          transition: all .5s cubic-bezier(.75, -.5, 0, 1.75);
          transition-delay: .2s;
        }

        span {
          opacity: 1;
          transform: translateX(10px) translateY(-50%);

        }

      }
    }
  }
}


.dsn-socials {
  li {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: -10px;
    }

    a {
      position: relative;
      width: 60px;
      height: 60px;
      border-width: 1px ;
      border-style: solid;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $heading-color;

      a:not(.move-circle){
        border-color: $border-color;
      }
      .icon-circle{
        z-index: 1;
      }


      &:after, span:not(.dsn-icon) {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.55, 0.02, 0.1, 0.9);
      }

      &:after {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $theme-color;
        transform: translate(-50%, -50%) scale(0.2);
      }

      span:not(.dsn-icon) {
        color: $heading-color;
        font-weight: bold;
        font-size: 13px;
        transform-origin: center bottom;
        cursor: pointer;
      }

      i {
        transform: scale(1);
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }


      &:hover {
        i {
          transform: scale(0);
        }

        span:not(.dsn-icon) {
          opacity: 1;
          transform: matrix(1, 0, 0, 1, 0, -20);
          transition: all 0.6s cubic-bezier(0.75, -0.5, 0, 1.75);
        }

        &:after {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
          transition: all .5s cubic-bezier(.75, -.5, 0, 1.75);
          transition-delay: .2s;
        }
      }
    }

    @include media_991 {
      a {
        width: 50px;
        height: 50px;
      }
      &:not(:last-of-type) {
        margin-right: 5px;
      }

    }

  }
  .elementor-align-right & .dsn-icon{
    margin: inherit;
  }
}