<div class="ibox-tools dropdown">
    <!-- <a ng-click="layout()"> <i class="fa fa-table text-success"></i></a> -->
    <div class="switch">
      <div class="onoffswitch">
        <input type="checkbox" name="layout" class="onoffswitch-checkbox" id="layout">
        <label class="onoffswitch-label" for="layout">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
    </div>
<!-- <a ng-click="showChart()"><i class="fa fa-bar-chart text-success"></i></a> -->
</div>
