<!-- widget content begin -->
<aside class="uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
        <h5 class="uk-heading-bullet uk-text-uppercase uk-margin-remove-bottom">Popular</h5>
        <ul class="uk-list in-widget-popular">
            <li>
                <div class="uk-grid-collapse uk-flex uk-flex-middle" data-uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-rounded" src="{{root}}img/in-widget-image-1.jpg" alt="sample-image" width="74" height="74">
                    </div>
                    <div class="uk-width-expand uk-margin-left">
                        <a href="#">Brexit effects may reflect in business ...
                            <span class="uk-article-meta uk-text-small"><br><i class="fas fa-clock fa-sm uk-margin-small-right"></i>Wed Apr 5, 2019</span>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-grid-collapse uk-flex uk-flex-middle" data-uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-rounded" src="{{root}}img/in-widget-image-2.jpg" alt="sample-image" width="74" height="74">
                    </div>
                    <div class="uk-width-expand uk-margin-left">
                        <a href="#">Investors bet on a quiet tech revolu ...
                            <span class="uk-article-meta uk-text-small"><br><i class="fas fa-clock fa-sm uk-margin-small-right"></i>Tue Apr 15, 2019</span>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-grid-collapse uk-flex uk-flex-middle" data-uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-rounded" src="{{root}}img/in-widget-image-3.jpg" alt="sample-image" width="74" height="74">
                    </div>
                    <div class="uk-width-expand uk-margin-left">
                        <a href="#">Destructive weed threatens U.S. corn ...
                            <span class="uk-article-meta uk-text-small"><br><i class="fas fa-clock fa-sm uk-margin-small-right"></i>Mon Apr 4, 2019</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>        
    </div>
</aside>
<!-- widget content end -->
