.in-counter-6 {
    .uk-card-default {        
        border: $counter-border-width-2 solid $counter-border-color;
        border-radius: $counter-border-radius-2;
        background-color: $counter-default-color;
    }
}