<div vdb-modal-header></div>
<div class="modal-body">
  <div class="heading heading-v1">
    <h2>Videbligo Terms & Conditions of Use</h2>
    <h3> Last Updated: January 19, 2016</h3>
    <p>
      <div ng-include="'vdb-ui/vdb-terms/intro.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/license.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/prohibited_use.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/prohibited_conduct.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/user_information.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/submitted_materials.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/proprietary_rights.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/trademarks.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/copyright.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/public_forums.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/right_to_monitor.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/private_information.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/indemnification.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/orders.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/linking.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/3rd_party.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/disclaimer.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/limitations.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/changes.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/termination.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/applicable_laws.html'"></div>
      <div ng-include="'vdb-ui/vdb-terms/misc.html'"></div>
    </p>
  </div>
</div>
<div class="modal-footer" ng-if="!registered"></div>

<!-- <div class="modal-footer" ng-if="true">
  <button class="btn-u" ng-click="privacy()">
    Approve Terms & Conditions
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </button>
</div> -->
