// uikit breadcrumb mixins
// ========================================================================
@mixin hook-breadcrumb(){
    text-transform: uppercase;
    letter-spacing: 1px;
    @media (max-width: 960px) {
        li:nth-child(n+4) {
            display: none;
        }
    }
}
