@import "../../base/base-variables.scss";

// uikit button mixins
// ========================================================================
@mixin hook-button(){
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@mixin hook-button-default(){
    box-shadow: inset 0px 0px 0px $button-border-width $button-default-border;
    line-height: 46px;
    padding-left: 23px;
    padding-right: 23px;
}
@mixin hook-button-default-hover(){
    border-color: darken($button-default-border, 5%);
}
@mixin hook-inverse-button-default(){
    box-shadow: inset 0px 0px 0px 2px $base-primary-color;
    background-color: transparent;
    color: $base-default-color;
}
@mixin hook-inverse-button-default-hover(){
    box-shadow: inset 0px 0px 0px 2px $base-default-color;
    background-color: transparent;
    color: $base-default-color;
}
