@import "../../base/base-variables.scss";

// uikit card mixins
// ========================================================================
@mixin hook-card-default(){
    border: 1px solid #d8dfe2;
}
