@import "../../base/base-variables.scss";

// uikit modal mixins
// ========================================================================
@mixin hook-modal-dialog(){
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
@mixin hook-modal-close-full(){
    color: $base-default-color;
    padding: 1px 17px;
    background-color: transparent;
    border: $base-border-width solid $base-border-color;
    border-radius: $base-border-radius;
    top: 18px;
    right: 18px;
}
