@import "../../base/base-variables.scss";

// uikit pagination mixins
// ========================================================================
@mixin hook-pagination-item(){
    width: 42px;
    text-align: center;
    border: $base-border-width solid $base-border-color;
    border-radius: $base-border-radius;
    padding: 9px 0 7px 0;
    i {
        position: relative;
        top: -1px;
    }
}
@mixin hook-pagination-item-active(){
    background: $base-primary-color;
    color: $base-default-color;
    border-color: $base-primary-color;
}
@mixin hook-pagination-item-hover(){
    transition: all ease .5s;
    background: $base-muted-color;
}
