@import "../../base/base-variables.scss";

// uikit sticky mixins
// ========================================================================
@mixin hook-sticky-misc(){
    .uk-sticky {
        &.uk-active {
            background: rgba(22, 22, 26, 0.7);
            box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }
    }
}
