.in-icon-wrap {
    font-family: inherit;
    font-weight: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #f0f0f0;
    color: #5c5c5c;
    border-radius: 24px;
    &.small {
        width: 38px;
        height: 38px;
        border-radius: 14px;
    }
    &.large {
        width:92px;
        height:92px;
        border-radius: 34px;
    }
    &.circle {
        border-radius: 500px;
    }
    &.transparent {
        background-color: transparent;
    }
    &.primary-color {
        background-color: $utility-primary-color;
        color: $utility-default-color;
    }
    &.secondary-color {
        background-color: $utility-secondary-color;
        color: $utility-default-color;
    }
}
