/* offset top margin */
.in-offset-top-10 {
    margin-top: -10px;
}
.in-offset-top-20 {
    margin-top: -20px;
}
.in-offset-top-30 {
    margin-top: -30px;
}
.in-offset-top-40 {
    margin-top: -40px;
}
.in-offset-top-50 {
    margin-top: -50px;
}
.in-offset-top-60 {
    margin-top: -60px;
}
.in-offset-top-70 {
    margin-top: -70px;
}
.in-offset-top-80 {
    margin-top: -80px;
}

/* offset bottom margin */
.in-offset-bottom-10 {
    margin-bottom: -10px;
}
.in-offset-bottom-20 {
    margin-bottom: -20px;
}
.in-offset-bottom-30 {
    margin-bottom: -30px;
}
.in-offset-bottom-40 {
    margin-bottom: -40px;
}
.in-offset-bottom-50 {
    margin-bottom: -50px;
}
.in-offset-bottom-60 {
    margin-bottom: -60px;
}
.in-offset-bottom-70 {
    margin-bottom: -70px;
}
.in-offset-bottom-80 {
    margin-bottom: -80px;
}

@media (max-width: 960px) {
    /* offset top margin */
    .in-offset-top-10\@s {
        margin-top: -10px;
    }
    .in-offset-top-20\@s {
        margin-top: -20px;
    }
    .in-offset-top-30\@s {
        margin-top: -30px;
    }
    .in-offset-top-40\@s {
        margin-top: -40px;
    }
    .in-offset-top-50\@s {
        margin-top: -50px;
    }
    .in-offset-top-60\@s {
        margin-top: -60px;
    }
    .in-offset-top-70\@s {
        margin-top: -70px;
    }
    .in-offset-top-80\@s {
        margin-top: -80px;
    }

    /* offset bottom margin */
    .in-offset-bottom-10\@s {
        margin-bottom: -10px;
    }
    .in-offset-bottom-20\@s {
        margin-bottom: -20px;
    }
    .in-offset-bottom-30\@s {
        margin-bottom: -30px;
    }
    .in-offset-bottom-40\@s {
        margin-bottom: -40px;
    }
    .in-offset-bottom-50\@s {
        margin-bottom: -50px;
    }
    .in-offset-bottom-60\@s {
        margin-bottom: -60px;
    }
    .in-offset-bottom-70\@s {
        margin-bottom: -70px;
    }
    .in-offset-bottom-80\@s {
        margin-bottom: -80px;
    }

    /* margin remove */ 
    .in-margin-remove-top\@s {
        margin-top: 0 !important;
    }
    .in-margin-remove-left\@s {
        margin-left: 0 !important;
    }
    .in-margin-remove-right\@s {
        margin-right: 0 !important;
    }
    .in-margin-remove-bottom\@s {
        margin-bottom: 0 !important;
    }

    /* margin top and bottom */ 
    .in-margin-top-10\@s {
        margin-top: 10px !important;
    }
    .in-margin-top-20\@s {
        margin-top: 20px !important;
    }
    .in-margin-top-30\@s {
        margin-top: 30px !important;
    }
    .in-margin-top-40\@s {
        margin-top: 40px !important;
    }
    .in-margin-top-50\@s {
        margin-top: 50px !important;
    }
    .in-margin-top-60\@s {
        margin-top: 60px !important;
    }
    .in-margin-top-70\@s {
        margin-top: 70px !important;
    }
    .in-margin-top-80\@s {
        margin-top: 80px !important;
    }

    .in-margin-bottom-10\@s {
        margin-bottom: 10px !important;
    }
    .in-margin-bottom-20\@s {
        margin-bottom: 20px !important;
    }
    .in-margin-bottom-30\@s {
        margin-bottom: 30px !important;
    }
    .in-margin-bottom-40\@s {
        margin-bottom: 40px !important;
    }
    .in-margin-bottom-50\@s {
        margin-bottom: 50px !important;
    }
    .in-margin-bottom-60\@s {
        margin-bottom: 60px !important;
    }
    .in-margin-bottom-70\@s {
        margin-bottom: 70px !important;
    }
    .in-margin-bottom-80\@s {
        margin-bottom: 80px !important;
    }

    /* padding horizontal and vertical */ 
    .in-padding-horizontal\@s {
        padding: 0 30px;
    }
    .in-padding-large-horizontal\@s {
        padding: 0 60px;
    }
    .in-padding-vertical\@s {
        padding: 30px 0;
    }
    .in-padding-large-vertical\@s {
        padding: 60px 0;
    }
}