.in-content-10 {
    .in-icon-wrap {
        color: #dbdbdb;
    }
    .uk-card-primary.uk-card-body .uk-search-default .uk-search-input {
        height: 46px;
        background-color: $content-default-color;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
        padding-left: 50px;
    }
    .uk-card-primary.uk-card-body .uk-search .uk-search-icon {
        padding-left: 8px;
    }
    .uk-card-primary.uk-card-body .uk-search .uk-search-icon,
    .uk-card-primary.uk-card-body .uk-search .uk-search-icon:hover,
    .uk-card-primary.uk-card-body .uk-search-input {
        color: #666;
    }
    .uk-card-primary.uk-card-body .uk-search-input::placeholder {
        color: #999;
    }
    .uk-heading-bullet a:hover {
        text-decoration: none;
    }
}
