<div class="col-xs-hidden col-sm-hidden col-md-hidden col-lg-6">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Event Trends By Device</h5>
      <div ibox-tools></div>
    </div>
    <div class="ibox-content col-xs-hidden col-sm-hidden col-md-hidden">
      <div class="row">
        <div class="col-lg-12">
          <div ng-repeat="device in devices | limitTo:5" class="m-t-xs" uib-tooltip="Tooltip: Help is on the way!" tooltip-placement="top" tooltip-animation="false" popover-placement="left" uib-popover-template="filter">
            <h4 class="m-b-n-xs">//device.title\\
            </h4>
            <uib-progress class="progress-md">
              <uib-bar ng-repeat="level in device.data track by $index" value="(level.value/device.value)*100" type="//level.type\\">
                //((level.value/device.value)*100).toFixed(1)\\%
              </uib-bar>
            </uib-progress>
          </div>
          <div class="text-center">
            <ul class="pagination">
              <li><a href="javascript:void()">«</a></li>
              <li class="active"><a href="javascript:void()">1</a></li>
              <li><a href="javascript:void()">2</a></li>
              <li><a href="javascript:void()">»</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-xs-hidden col-sm-hidden col-md-hidden col-lg-8 wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Event Trends</h5>
      <div ibox-tools></div>
      <div class="btn-group m-l-sm pull-right" >
        <button type="button" class="btn btn-xs btn-default" ng-click="setDirection('source')" ng-class="{active: source}">
          Source
        </button>
        <button type="button" class="btn btn-xs btn-default" ng-click="setDirection('destination')" ng-class="{active: destination}">
          Destination
        </button>
      </div>
    </div>
    <div class="ibox-content">
      <div class="col-lg-6">
        <div id="country-map" class="jvectormap"></div>
      </div>
      <div class="col-lg-6">
        <div id="world-map" class="jvectormap"></div>
      </div>
    </div>
  </div>
</div>
