<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div class="uk-card uk-card-primary uk-box-shadow-small uk-border-rounded uk-background-cover" style="background-image: url({{root}}img/in-card-background-1.jpg);">
                    <div class="uk-card-body">
                        <h2 class="uk-margin-remove-bottom">Free Demo Account</h2>
                        <p class="uk-margin-small-top">Practice Stocks and CFDs trading in a risk-free environment.</p>
                        <a class="uk-button uk-button-primary uk-border-rounded" href="#">Open an Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
