<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-match uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m in-card-10" data-uk-grid>
            <div class="uk-width-1-1">
                <h2 class="uk-margin-remove">A <span class="in-highlight">relationship</span> on your terms.</h2>
                <p class="uk-text-lead uk-text-muted uk-margin-remove">Work with us the way you want.</p>
                <p>Some believe you must choose between an online broker and a wealth management firm. At Liquid, you don’t need to compromise. Whether you invest on your own, with an advisor, or a little of both — we can support you.</p>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-green">
                    <i class="fas fa-seedling fa-lg in-icon-wrap circle uk-margin-bottom"></i>
                    <h4 class="uk-margin-top">
                        <a href="#">Investing<i class="fas fa-chevron-right uk-float-right"></i></a>
                    </h4>
                    <hr>
                    <p>A wide selection of investment product to help build diversified portfolio</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-blue">
                    <i class="fas fa-chart-bar fa-lg in-icon-wrap circle uk-margin-bottom"></i>
                    <h4 class="uk-margin-top">
                        <a href="#">Trading<i class="fas fa-chevron-right uk-float-right"></i></a>
                    </h4>
                    <hr>
                    <p>Powerful trading tools, resources, insight and support</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-purple">
                    <i class="fas fa-chart-pie fa-lg in-icon-wrap circle uk-margin-bottom"></i>
                    <h4 class="uk-margin-top">
                        <a href="#">Wealth management<i class="fas fa-chevron-right uk-float-right"></i></a>
                    </h4>
                    <hr>
                    <p>Dedicated financial consultant to help reach your own specific goals</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-navy">
                    <i class="fas fa-chalkboard-teacher fa-lg in-icon-wrap circle uk-margin-bottom"></i>
                    <h4 class="uk-margin-top">
                        <a href="#">Investment advisory<i class="fas fa-chevron-right uk-float-right"></i></a>
                    </h4>
                    <hr>
                    <p>A wide selection of investing strategies from seasoned portfolio managers</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-grey">
                    <i class="fas fa-funnel-dollar fa-lg in-icon-wrap circle uk-margin-bottom"></i>
                    <h4 class="uk-margin-top">
                        <a href="#">Smart portfolio<i class="fas fa-chevron-right uk-float-right"></i></a>
                    </h4>
                    <hr>
                    <p>A revolutionary, fully-automated investmend advisory services</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-light in-card-orange">
                    <i class="fas fa-handshake fa-lg in-icon-wrap circle uk-margin-bottom"></i>
                    <h4 class="uk-margin-top">
                        <a href="#">Mutual fund advisor<i class="fas fa-chevron-right uk-float-right"></i></a>
                    </h4>
                    <hr>
                    <p>Specialized guidance from independent local advisor for hight-net-worth investors</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
