<!-- section content begin -->
<div class="uk-section in-offset-top-30 in-content-8">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <table class="uk-table uk-table-middle uk-table-divider uk-table-responsive">
                    <tbody>
                        <tr>
                            <td class="uk-width-1-3@m">
                                <div class="uk-grid uk-grid-small uk-flex uk-flex-middle">
                                    <div class="uk-width-auto">
                                        <i class="fas fa-users fa-lg in-icon-wrap circle primary-color"></i>
                                    </div>
                                    <div class="uk-width-expand">
                                        <h3>Beginner Course</h3>
                                    </div>
                                </div>
                            </td>
                            <td>Learn the basic concepts of forex trading, what this market is all about, and why you should be a part of it.</td>
                            <td class="uk-width-1-5@m uk-text-right@m">
                                <a href="#" class="uk-button uk-button-text">Enter Course<i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="uk-width-1-3@m">
                                <div class="uk-grid uk-grid-small uk-flex uk-flex-middle">
                                    <div class="uk-width-auto">
                                        <i class="fas fa-tools fa-lg in-icon-wrap circle primary-color"></i>
                                    </div>
                                    <div class="uk-width-expand">
                                        <h3>Trading Tools</h3>
                                    </div>
                                </div>
                            </td>
                            <td>Familiarize yourself with advanced strategies and Btrade's trading toolset. Take your trading to the next level.</td>
                            <td class="uk-width-1-5@m uk-text-right@m">
                                <a href="#" class="uk-button uk-button-text">Enter Course<i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="uk-width-1-3@m">
                                <div class="uk-grid uk-grid-small uk-flex uk-flex-middle">
                                    <div class="uk-width-auto">
                                        <i class="fas fa-chart-area fa-lg in-icon-wrap circle primary-color"></i>
                                    </div>
                                    <div class="uk-width-expand">
                                        <h3>Stocks and CFDs</h3>
                                    </div>
                                </div>
                            </td>
                            <td>Discover the world of CFD trading: The ins & outs of the CFD market, relevant information and market dynamics.</td>
                            <td class="uk-width-1-5@m uk-text-right@m">
                                <a href="#" class="uk-button uk-button-text">Enter Course<i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="uk-flex uk-flex-center uk-margin-medium-top uk-margin-bottom">
                    <div class="uk-width-3-4@m">
                        <div class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s" data-uk-grid>
                            <div>
                                <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">Fast Academy</a>
                            </div>
                            <div>
                                <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">Video Tutorials</a>
                            </div>
                            <div>
                                <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">Course</a>
                            </div>
                            <div>
                                <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">E-Books</a>
                            </div>
                            <div class="uk-visible@m">
                                <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">Glossary</a>
                            </div>
                            <div class="uk-visible@m">
                                <a class="uk-button uk-button-default uk-border-rounded uk-width-expand" href="#">Trading Info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
