#{{ansible_managed}}

server {

	listen 80;
	listen [::]:80;

	if ($http_x_forwarded_proto != 'https') {
			rewrite ^ https://$host$request_uri? permanent;
	}

	root {{nginx_html_root}}/{{item.key}}/wordpress;

	server_name {{item.key}} www.{{item.key}};

	location / {
		index index.php;
  	try_files $uri $uri/ /index.php?$args;
	}

	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
  	fastcgi_pass unix:/run/php/php7.1-fpm.sock;
	}

}

#{{ansible_managed}}
