.in-mobile-nav {
    .uk-button {
        font-size: 17px;
        padding: 2px 16px;
        color: $navigation-secondary-color;
        background-color: transparent;
        box-shadow: inset 0px 0px 0px 1px $navigation-border-color;
        border-radius: $navigation-border-radius;
    }
}
.uk-nav-default {
    margin-top: -40px;
    li {
        a {
            font-size: 24px;
        }
    }
}
.uk-nav-sub {
    li {
        a {
            font-size: 18px;
            i {
                margin-left: 8px;
                font-size: 13px;
            }
        }
    }
}
@media (max-width: 960px) {
    .in-mobile-nav {
        position: absolute;
        right: 0;
        .uk-button {
            color: $base-default-color;
        }
    }
}
