.woocommerce .woocommerce-ordering select {
    border-radius: 0;
    height: 37px;
    line-height: 37px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid $border-color;

}