<!DOCTYPE html>
<head>
  <title>Q&A with OpenAI</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Ask me anything</h3>
  <form action="/qa" method="post">
    <input type="text" name="question" placeholder="Enter a question" required />
    <input type="submit" value="Ask" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
