.in-liquid-label {
    font-size: 12px;
    color: $base-primary-color;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
}

.in-liquid-breadcrumb {
    border-bottom: $base-border-width solid $base-border-color;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    .uk-breadcrumb {
        padding-top: 13px;
        padding-bottom: 16px;
    }
}

.in-liquid-1 {
    .uk-container {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .uk-child-width-1-3\@m {
        margin-top: 50px;
    }
    .uk-card-media-top img {
        position: relative;
        right: -85px;
        margin-top: -87px;
        margin-bottom: -60px;
    }
}
@media (max-width: 960px) {
    .in-liquid-1 {
        .uk-button.uk-align-right\@m {
            margin-top: 20px;
        }
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .in-liquid-1 {
        .uk-card-media-top img {
            position: relative;
            left: 28%;
        }
    }
}

.in-liquid-2 {
    background: linear-gradient(0deg, rgba(255,255,255,0) 55%, rgba(255,239,236,1) 100%);
    .uk-container {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .uk-card-default {
        background-color: transparent;
        border: 1px solid #d8dfe2;
        border-radius: 10px;
        h4 {
            color: $base-primary-color;
            margin-top: -53px;
            span {
                padding-left: 15px;
                padding-right: 15px;
                background-color: $base-default-color;
            }
        }
        .in-icon-wrap {
            width: 44px;
            height: 44px;
            background-color: $base-default-color;
            box-shadow: inset 0px 0px 0px 2px  #fc5b3f;
            border: 18px solid $base-default-color;
            font-size: 18px;
            font-family: $base-heading-font;
            font-weight: 600;
            color: #fc5b3f;
            margin-bottom: -25px;
            position: relative;
            z-index: 0.1;
        }
        .uk-width-1-1::after {
            width: 60%;
            height: 1px;
            background-color:#d8dfe2;
            position: absolute;
            content: '';
            top: 44%;
            left: 20%;
            z-index: 0;
        }
    }
}
@media (max-width: 960px) {
    .in-liquid-2 {
        .uk-card-default {
            padding-bottom: 52px;
            h4 {
                margin-top: -42px;
            }
            .uk-width-1-1::after {
                background-color: transparent;
            }
        }
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .in-liquid-2 {
        .uk-card-default {
            .uk-width-1-1::after {
                background-color: #d8dfe2;
                top: 38%;
            }
        }
    }
}

.in-liquid-3 {
    &.uk-background-center-center {
        background-position: 40% 50%;
    }
    .in-icon-wrap {
        width: 84px;
        height: 84px;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid #cbd3d6;
        color: $base-heading-color;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .fab {
        font-size: 36px;
    }
    .uk-position-top-left {
        left: -63px;
        margin-bottom: -5px;
        z-index: 0;
    }
    .uk-width-1-2\@m {
        z-index: 0.1;
        position: relative;
    }
}
@media (max-width: 960px) {
    .in-liquid-3 {
        &.uk-background-contain {
            background-size: auto 50%;
        }
        &.uk-background-center-center {
            background-position: 40% 100%;
        }
        .uk-position-top-left {
            left: 13px;
            margin-top: -45px;
            margin-bottom: 0;
        }
        .uk-width-1-2\@m {
            padding-top: 52%;
            .uk-grid-small {
                margin-bottom: 30px;
            }
        }
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .in-liquid-3 {
        &.uk-background-contain {
            background-size: auto 53%;
        }
        .uk-position-top-left {
            left: 16%;
        }
    }
}

.in-liquid-4 {
    .uk-container {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .in-blog-4 {
        a {
            &.uk-button-text {
                color:rgb(153, 153, 153);
                &:hover {
                    color: inherit;
                }
            }
        }
        .uk-flex {
            i {
                color: inherit;
                top: inherit;
            }
        }
    }
    .in-liquid-category {
        width: 59px;
        position: relative;
        p {
            width: 150px;
            text-align: right;
            transform: rotate(-90deg);
            margin-top: 64px;
            margin-left: -67px;
        }
        span {
            background-color: $base-default-color;
            padding-right: 5px;
            padding-left: 14px;
        }
        .uk-text-uppercase {
            letter-spacing: 1px;
            color: $base-primary-color;
        }
        .uk-text-small {
            font-size: 12px;
            font-weight: 600;
        }
        &::before {
            width: 1px;
            height: 98%;
            background-color: $base-primary-color;
            content: '';
            position: absolute;
            top: 0;
            left: 7px;
        }
    }
}

.in-liquid-5 {
    .in-client-logo-6 {
        .uk-tile {
            border-right: 0;
            padding: 10px 35px;
            &:last-child {
                border-right: 0;
            }
            img {
                opacity: 1;
                transition: 0.3s ease-in-out;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .in-border-text {
        margin-top: 50px;
        span {
            background: rgba(255,255, 255, 0.6);
            border: 1px solid #d7d7d7;
            border-radius: 8px;
            padding: 14px 7px 16px 14px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }
    }
}
@media (max-width: 960px) {
    .in-liquid-5 {
        h4 {
            margin-top: 27px;
        }
        &.uk-background-contain {
            background-size: auto 41%;
        }
        &.uk-background-top-center {
            background-position: 50% 100%;
        }
        .uk-tile {
            border-bottom: 0;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                width: 35%;
            }
        }
        .in-border-text { 
            span {
                display: block;
            }
            .uk-button {
                margin-top: 10px;
                left: -10px;
                position: relative;
            }
        }
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .in-liquid-5 {
        &.uk-background-contain {
            background-size: auto 65%;
        }
    }
}

.in-liquid-6 {
    background: linear-gradient(0deg, rgba(255,255,255,0) 55%, rgba(255,239,236,1) 100%);
    .uk-container {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    img {
        width: 100%;
    }
    .in-count-wrap {
        border-radius: 10px;
        border: 1px solid #cbd3d6;
        padding-top: 19px;
        text-align: center;
        transition: all ease 400ms;
        .uk-text-lead {
            transition: all ease 400ms;
        }
        &:hover {
            border-color: $base-primary-color;
            transition: all ease 400ms;
            cursor: default;
            .uk-text-lead {
                color: $base-primary-color;
            }
        }
    }
    .dot-pulse {
        border-radius: 50px;
        background: rgba(253, 124, 102, .9);
        box-shadow: 0 0 0 0 rgba(253, 124, 102, 1);
        &.one {
            width: 15px;
            height: 15px;
            animation: one 2s infinite;
        }
        &.two {
            width: 8px;
            height: 8px;
            animation: two 3s infinite;
        }
    }
    @keyframes one {
        0% {
            box-shadow: 0 0 0 0 rgba(253, 124, 102, 0.7);
        }
        
        70% {
            box-shadow: 0 0 0 25px rgba(253, 124, 102, 0);
        }
        
        100% {
            box-shadow: 0 0 0 0 rgba(253, 124, 102, 0);
        }
    }
    @keyframes two {
        0% {
            box-shadow: 0 0 0 0 rgba(253, 124, 102, 0.7);
        }
        
        70% {
            box-shadow: 0 0 0 18px rgba(253, 124, 102, 0);
        }
        
        100% {
            box-shadow: 0 0 0 0 rgba(253, 124, 102, 0);
        }
    }
}

.in-liquid-7 {
    .uk-container {
        margin-bottom: 35px;
    }
    .uk-button-secondary {
        color: $base-primary-color;
        background-color: transparent;
        box-shadow: inset 0px 0px 0px 2px $base-primary-color;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
@media (max-width: 960px) {
    .in-liquid-7 {
        .uk-button-primary {
            left: 5px;
            margin-bottom: 10px;
            position: relative;
        }
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .in-liquid-7 {
        .uk-button-primary {
            left: 0;
            margin-bottom: 0;
        }
    }
}

.in-liquid-8 {
    .uk-container {
        margin-bottom: 20px;
    }
    .uk-card-default {
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid $base-primary-color;
        cursor: default;
        padding: 15px;
        h6, i {
            color: $base-primary-color;
        }
    }
    .in-liquid-video {
        width: 97%;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(120deg, #eaee44, #33d0ff);
            opacity: .6;
            border-radius: 6px;
        }
        img {
            box-shadow: 15px 15px 0 0 #dfdfdf;
        }
        .in-play-button {
            width: 75px;
            height: 75px;
            border-radius: 50px;
            background: rgba(255, 255, 255, .9);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
            animation: pulse-white 2s infinite;
        }
        i {
            font-size: 24px;
            position: absolute;
            top: 25px;
            left: 28px;
        }        
        @keyframes pulse-white {
            0% {
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
            }
            
            70% {
                box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
            }
            
            100% {
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            }
        }
    }
}

.in-liquid-9 {
    .uk-card {
        background-color: transparent;
        border-radius: 10px;
        border-color: $base-primary-color;
        i {
            font-size: 32px;
        }
        .uk-text-small {
            margin-top: 0;
        }
        .uk-grid-divider div {
            padding-top: 20px;
            padding-bottom: 23px;
        }
        .uk-grid-divider > ::before {
            border-color: $base-primary-color;
        }
    }
    .uk-card-body {
        padding-top: 0;
        padding-bottom: 0;
    }
    .in-text-devices span {
        background-color: $base-default-color;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        position: relative;
        bottom: -27px;
        z-index: 1;
    }
}
@media (max-width: 960px) {
    .in-liquid-9 {
        .uk-card {
            padding-top: 30px;
            padding-bottom: 10px;
            .uk-grid-divider div {
                padding-top: 0;
            }
            .uk-grid-divider.uk-grid-stack>.uk-grid-margin {
                margin-top: 35px;
            }
        }
    }
}

.in-liquid-10 {
    .uk-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .uk-card-body {
        padding: 50px 35px 55px 35px;
    }
}
@media (max-width: 960px) {
    .in-liquid-10 {
        .uk-button {
            width: 100%;
            top: -17px;
            position: relative;
        }
    }
}

.in-liquid-11 {
    background: linear-gradient(0deg, rgba(255,255,255,0) 55%, rgba(255,239,236,1) 100%);
    .uk-container {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .uk-list > li:nth-child(n+2) {
        margin-top: 20px;
    }
    .uk-list-bullet > li {
        padding-left: 38px;
    }
    .in-list-check {
        li a {
            font-size: 15px;
            font-weight: 700;
        }
        li::before {
            content: "\f061";
        }
    }
}
@media (max-width: 960px) {
    .in-liquid-11 {
        .in-list-check.uk-margin-medium-left {
            left: -40px;
            position: relative;
        }
    }
}

.in-liquid-12 {
    background-color: $base-primary-color;
    blockquote {
        p {
            color: $base-default-color;
            font-size: 24px;
        }
        footer {
            margin-top: 30px;
            font-size: 14px;
            font-weight: 700;
            span {
                background-color: $base-default-color;
                border-radius: 5px;
                padding: 5px 12px;
            }
        }
        .uk-button {
            font-style: initial;
            color: rgba(255,255,255, .7);
            margin-top: 20px;
        }
    }
}
@media (max-width: 960px) {
    .in-liquid-12 {
        .uk-container {
            margin-top: 37px;
            margin-bottom: 40px;
        }
        &.uk-background-contain {
            background-size: auto 41%;
        }
    }
}

.in-liquid-13 {
    .uk-container {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .uk-card-default {
        background-color: transparent;
    }
    .uk-card-body {
        padding: 10px;
    }
    .in-app-style {
        border-color: $base-primary-color;
        padding: 30px 22px;
        .in-button-app {
            border-radius: 5px;
            color: $base-default-color;
            position: relative;
            z-index: 0.1;
            i {
                font-size: 20px;
                &.fa-apple {
                    font-size: 24px;
                    top: 3px;
                }
            }
        }
        .uk-position-bottom {
            margin-left: 25px;
            margin-bottom: -34px;
        }
    }
    .uk-subnav i {
        color: $base-primary-color;
        font-size: 18px;
    }
    .uk-table {
        padding-left: 90px;
        font-size: 14px;
        thead th {
            font-size: 14px;
            padding-left: 28px;
        }
        tbody td {
            padding-left: 28px;
        }
        .uk-label {
            font-size: 14px;
        }
    }
}
@media (max-width: 960px) {
    .in-liquid-13 {
        .uk-table {
            thead th {
                padding-left: 18px;
            }
            tbody td {
                padding-left: 18px;
            }
        }
        .in-app-style {
            padding-bottom: 206px;
            .uk-position-bottom {
                margin-left: 0;
                margin-bottom: -206px;
            }
        }
        .uk-grid-collapse {
            text-align: center;
        }
    }
}

.in-liquid-14 {
    background: linear-gradient(0deg, rgba(255,255,255,0) 55%, rgba(255,239,236,1) 100%);
    .uk-container {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .uk-tile {
        border-right: 2px solid $base-border-color;
        border-bottom: 2px solid $base-border-color;
    }
    .uk-tile-default {
        padding: 20px 5px 23px;
    }
    .uk-tile:nth-child(3),
    .uk-tile:last-child {
        border-right: 0;
    }
    .uk-tile:nth-child(n+4) {
        border-bottom: 0;
    }
    @media (min-width: 640px) and (max-width: 960px) {
        .uk-tile:nth-child(n+1) {
            border-right: 0;
        }
        .uk-tile:nth-child(n+3),      
        .uk-tile:last-child {
            border-bottom: 0;
        }
    }
    @media (max-width: 639px) {
        .uk-tile:nth-child(n+1) {
            border-right: 0;
        }     
        .uk-tile:last-child {
            border-bottom: 0;
        }
    }
    .uk-button {
        color: $base-primary-color;
    }
}
@media (max-width: 960px) {
    .in-liquid-14 {
        .uk-tile-default {
            background-color: transparent;
            padding: 20px 5px 23px;
        }
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .in-liquid-14 {
        .uk-width-1-2\@m:last-child {
            text-align: center;
            img {
                width: 70%;
            }
        }
    }
}

.in-liquid-15 {
    .uk-overlay {
        padding-top: 100px;
    }
    .uk-overlay-primary {
        background: #000000;
        background: -webkit-linear-gradient(to top,rgba(0,0,0,0.52) 0%, rgba(255,255,255,0) 100%);
        background: -moz-linear-gradient(to top,rgba(0,0,0,0.52) 0%, rgba(255,255,255,0) 100%);
        background: linear-gradient(to top,rgba(0,0,0,0.52) 0%, rgba(255,255,255,0) 100%);
        border-radius: 6px;
        .uk-text-muted {
            color: rgba(255,255,255,.7) !important;
        }
    }
    .uk-inline-clip {
        background-color: $base-default-color;
        overflow: hidden;
        border-radius: 6px;
        a {
            img {
                transition: all ease 300ms;
            }
            &:hover {
                img {
                    filter: blur(2px);
                    -webkit-filter: blur(2px);
                    transition: all ease 300ms;
                    opacity: 0.8;
                }
            }
        }
    }
    .uk-card-secondary {
        background-color: rgba(33,34,36, .9);
    }
    .uk-card-body {
        font-size: 15px;
        padding: 28px;
        .uk-button {
            color: $base-primary-color;
        }
    }
    .in-icon-wrap {
        font-size: 10px;
        font-weight: 700;
        font-style: normal;
        color: #fff;
        &.small {
            width: 32px;
            height: 32px;
        }
        &.green {
            background-color: #30bc9c;
        }
        &.blue {
            background-color: #4585db;
        }
        &.red {
            background-color: #e74c3c;
        }
        &.grey {
            background-color: #95a5a6;
        }
    }
}
@media (max-width: 960px) {
    .in-liquid-15 {
        &.uk-background-contain {
            background-size: auto 35%;
        }
    }
}

.in-liquid-16 {
    background-color: #fffcfb;
    .uk-container {
        margin-bottom: 30px;
    }
    .in-liquid-16-counter {
        border-bottom: $base-border-width solid $base-primary-color;
        padding-bottom: 10px;
        p {
            color: $base-primary-color;
        }
    }
    .in-client-logo-4 {
        .uk-tile {
            background-color: transparent;
        }
    }
}

.in-liquid-17 {
    .uk-card-default {
        background-color: $base-default-color;
    }
    .uk-card-media-left {
        img {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }
    }
    .uk-card-body {
        padding: 0 25px;
    }
}
@media (max-width: 960px) {
    .in-liquid-17 {
        .in-border-text {
            .uk-button {
                left: -12px;
                margin-top: 15px;
                position: relative;
            }
        }
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    .in-liquid-17 {
        .in-border-text {
            .uk-button {
                left: 0px;
                margin-top: 0px;
            }
        }
    }
}

.in-faq-3 {
    .uk-accordion-title {
        font-size: 17px;
        font-weight: 700;
    }
}

.in-content-8 {
    .uk-button-default {
        transition: all ease 400ms;
        &:hover {
            color: $base-primary-color;
            background-color: transparent;
            box-shadow: inset 0px 0px 0px 2px $base-primary-color;
        }
    }
}