footer {
    .uk-light {
        color: rgba(255,255,255,.5);
        a.uk-button-text {
            margin-top: 4px;
            color: #a2a2a2;
            font-size: 13px;
            text-transform: capitalize;
            letter-spacing: 0;
            &:hover {
                color: $base-default-color;
            }
        }
        .uk-link-text a {
            color: rgba(255,255,255,.5);
            &:hover {
                color: $base-default-color;
                text-decoration: none;
            }
        }
    }
    h5 {
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .in-footer-logo {
        margin-top: 0px;
    }
    .in-footer-socials {
        margin-top: 4px;
        a {
            color: #a2a2a2;
            &:hover {
                text-decoration: none;
            }
        }
        i {
            font-size: 18px;
            margin-left: 20px;
        }
    }
    .in-footer-feature {
        padding-top: 0;
        padding-bottom: 0;
        h6 {
            font-size: 14px;
        }
        .in-icon-wrap {
            width: 41px;
            height: 41px;
            background-color: transparent;
            border: 1px solid $base-default-color;
            border-radius: 8px;
            color: $base-default-color;
            font-size: 16px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    .in-trading-risk {
        margin-top: -10px;
        line-height: 24px;
    }
}
@media (max-width: 960px) {
    footer {
        .in-footer-feature {
            padding-top: 30px;
            padding-bottom: 30px;
            .uk-grid>.uk-grid-margin {
                margin-top: 0;
            }
        }
        .in-footer-socials {
            margin-left: -20px;
            margin-bottom: 10px;
        }
        .uk-heading-line {
            margin-top: 10px;
        }
        .in-trading-risk {
            margin-top: 20px;
            padding-bottom: 20px;
        }
    }
}
@media (min-width: 640px) and (max-width: 960px) {
    footer {
        .in-footer-feature {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
