// navigation variables
$navigation-default-color:                    $base-default-color !default;
$navigation-muted-color:                      $base-muted-color !default;
$navigation-primary-color:                    $base-primary-color !default;
$navigation-secondary-color:                  $base-secondary-color !default;
$navigation-border-color:                     $base-border-color !default;
$navigation-border-color-2:                   $base-border-color-2 !default;
$navigation-border-width:                     $base-border-width !default;
$navigation-border-width-2:                   $base-border-width-2 !default;
$navigation-border-radius:                    $base-border-radius !default;
$navigation-border-radius-2:                  $base-border-radius-2 !default;


// main-navigation
@import "navigation/main.scss";

// mobile-navigation
@import "navigation/mobile.scss";

// sticky moved to mixins
