<div class="container content-sm">
		<div class="text-center margin-bottom-50">
		<h2 class="title-v2 title-center">WHY CHOOSE VIDEBLIGO?</h2>
		<p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
		</div>

		<div class="row content-boxes-v4">
		<div class="col-md-4 md-margin-bottom-40">
			<i class="pull-left fa fa-lightbulb-o"></i>
			<div class="content-boxes-in-v4">
				<h2>Creative Ideas</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<a href="#">Learn More</a>
			</div>
		</div>
		<div class="col-md-4 md-margin-bottom-40">
			<i class="pull-left fa fa-flash"></i>
			<div class="content-boxes-in-v4">
				<h2>Excellent Features</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<a href="#">Learn More</a>
			</div>
		</div>
		<div class="col-md-4">
			<i class="pull-left fa fa-compress"></i>
			<div class="content-boxes-in-v4">
				<h2>Fully Responsive</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<a href="#">Learn More</a>
			</div>
		</div>
		</div>
		</div>





<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="headline-center"><h2>Videbligo is Less Expensive</h2></div>
      <p>
        Design, implementation, and operation of an on-premises big data solution can be very expensive.
        Based on ongoing market research (see Figure 1), the 5-year TCO for operating a 1PB Big Data cluster can exceed $37M.
        The cost of highly skilled data scientists makes up over 60% of the TCO.
      </p>
      <p>
        <span class="dropcap">V</span>idebligo Cloud™
        eliminates all capital and operating expenses and transforms a Big Data platform into Big Data as a Service.
        Our turnkey solution eliminates >40% of the 5-year TCO of a comparable on-premises solution  and reduces the time-to-value from an average of 24-30 months to less than 90 days .
        Videbligo Consulting™ delivers high-value, business relevant visuals for effective decision-making at a fraction of the cost of a comparable on-premises solution.
      </p>
    </div>

    <div class="col-sm-4 ">
      <div class="headline-center"><h2>Videbligo is Faster</h2></div>
      <p>
        The planning and building a big data platform can take 12-18 months and cost millions of dollars.
        Hiring and training data scientists can be an arduous and costly exercise.
        Ongoing investments in hardware and software licenses are required to scale and maintain Service Level Assurances.
      </p>
      <p>
        <span class="dropcap">V</span>idebligo Cloud™
        begins at valuable activities of Data Discovery, Analysis and Presentation.
        Time-to-Value on key business visuals is reduced to less than 90-days, and for our turnkey dashboards, available on Day 0.
        With web-scale ability, the Videbligo Cloud™ scales elastically with your data volume.
      </p>
    </div>
    <div class="col-sm-4 ">
      <div class="headline-center"><h2>Videbligo is Better</h2></div>
        <p>
          Effective Discovery, Analysis and Presentations require highly qualified and specific skillsets.
          Often times, it is impossible to find single individuals who can perform all functions.
        </p>
        <p>
          <span class="dropcap">V</span>idebligo Consulting
          team specializes in business relevant Data Discovery, Analysis and Presentation, and we employ the experts that the market needs.
          We understand what types of data are best presented in which visualization model that lets the data tell it’s own story.
        </p>
      </div>
    </div>

  </div><!--/end row-->
</div>

<parralax-v4 />

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="headline-center">
        <h2>Videbligo is Safe & Reliable</h2>
      </div>
      <p>Big Data require centralization of vast data, and often times encryption, secure aging and wiping are overlooked due high cost of implementation and value extraction. When used effectively, key visualizations become critical to the ongoing monitoring and management of business excellence. The high costs of scaling Big Data to be redundant and fault tolerant usually become unbudgeted projects due to low adoption levels.</p>
      <p><span class="dropcap">V</span>idebligo Cloud™ operates in industry leading clouds where all aspects of physical security exceed most enterprise grade data centers. Further, our multi-tenant cloud is geared towards repeatable policies around encryption, retirement and secure destruction of data. The Videbligo Cloud is also designed for Web Scale Redundancy; there is no single point of failure and it can elastically scale to the demands of your business.</p>
    </div>
    <div class="col-sm-4">
      <div class="headline-center">
        <h2>Videbligo is The Most Fun</h2>
      </div>
      <p>Data visualizations are meant to serve a clearly reasonable purpose, and after the visual serves its purpose, its value to the organization becomes less important. Business must adopt a nimble solution that can present large amounts of data in a useful way at the speed of the market.</p>
      <p><span class="dropcap">V</span>idebligo Cloud™ is ready to consume data and transform it into relevant visuals at the sped of the market. Videbligo is built on the passion and industry experience of our team members. At Videbligo, we love data, and we love presenting it in a way that lets it tell its own, unique story. We aspire to collaboratively let your data tell us something we don’t know about your business.</p>
    </div>
    <div class="col-sm-4">
      <div class="headline-center">
        <h2>Videbligo is Easily Delivered</h2>
      </div>
      <p>On premise big data is a grand undertaking.  Project teams alone can cost almost $1M and 5 years of capital and operational expenses for Hardware and Software can cost almost $2M. Finding and hiring qualified data scientists can be a costly and arduous tasks, with many organizations reporting that no qualified talent can be found in their area.</p>
      <p><span class="dropcap">V</span>idebligo Cloud™ requires only a secure transport stream from your cloud to ours, and we provide Professional Services for business who are ready to get started. With Roles-Based-Access-Control, the Videbligo Cloud makes it possible the owner of data to share key visuals with anyone who needs access.</p>
    </div>
  </div><!--/end row-->
</div>
