// Backgrounds & Text & Links & Borders

//------> Dark Color
$bg-color: var(--bg-color);
$assistant-color: var(--assistant-color);
$theme-color: var(--theme-color);
$body-color: var(--font-color);
$heading-color: var(--heading-color);
$border-color: var(--border-color);
$smooth-color: var(--smooth-color);
$reverse-color: var(--reverse-color);
$reverse-heading-color: var(--reverse-heading-color);
$mod-color : var(--mod-color)





