.box-content {
  flex-direction: column;
  border-style: $heading-color;


  .box-image-link + .post-content {
    padding-top: 20px;
  }

  .box-image-bg {
    position: relative;
    overflow: hidden;
    max-height: 80vh;
  }
}