<!-- section content begin -->
<div class="uk-section uk-section-muted uk-padding-large in-liquid-12 uk-background-contain uk-background-bottom-center" data-src="{{root}}img/in-liquid-12-bg.png" data-uk-img>
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <div>
                    <div class="uk-flex uk-flex-middle" data-uk-grid>
                        <div class="uk-width-1-1 uk-width-expand@m">
                            <blockquote>
                                <p class="uk-margin-bottom">Great platform for starting traders, great selection and transparent fee. Liquid has been making my trading experience enjoyable and secure.</p>
                                <footer><span>Nina van Adrichem</span></footer>
                                <a class="uk-button uk-button-text" href="#">Read other story<i class="fas fa-angle-right uk-margin-small-left"></i></a>
                            </blockquote>

                        </div>
                        <div class="uk-width-1-1 uk-width-auto@m in-margin-remove-left@s uk-flex-first uk-flex-last@m">
                            <img class="uk-border-pill uk-background-muted uk-align-center uk-margin-remove-bottom" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-team-1.png" alt="client-testimoni" width="180" height="180" data-uk-img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
