ul, ol {
  position: relative;


  .wp-block-freeform.block-library-rich-text__tinymce > & {
    padding-left: 0;
  }


  li {
    line-height: 1.7;
    margin-bottom: 15px;
    vertical-align: baseline;
    list-style: inherit;

    a:not([class*="color"]) {
      color: $theme-color;
    }


    > div {
      display: inline-block;
    }


    &:not(.blocks-gallery-item):last-child {
      margin-bottom: 0;
    }


    ul, ol {
      padding-left: 0;
      margin-top: 15px;
      margin-left: 1rem;
    }

  }

}


ol {
  list-style: decimal inside;
}


ul {
  list-style: disc inside;


  ul {
    list-style: circle inside;
  }
}


dt {
  line-height: 1.8;
  font-weight: bold;
  color: $heading-color;
  opacity: .8;
}


dd {
  margin: 0 1rem 1rem;
}



