.in-timeline-2 {    
    margin: 30px auto;
    position: relative;
    padding: 1px 10px;
    .uk-card-default {
        border: $timeline-border-width solid $timeline-border-color;
        background-color: $timeline-default-color;
    }
    &:before {
        content:"";
        width: $timeline-border-width-2;
        height: 100%;
        background: $timeline-border-color;
        left: 50%;
        top: 0;
        position: absolute;
    }
    &:after {
        content: "";
        clear: both;
        display: table;
        width: 100%;
    }
    .in-timeline-item {
        margin: 25px 0;
        position: relative;
        &:after, &:before {
            content: '';
            display: block;
            width: 100%;
            clear: both;
        }
        &:before {
            width: 13px;
            height: 13px;
            background: $timeline-primary-color;
            border: 10px solid $timeline-default-color;
            border-radius: 50%;
            position: absolute;
            top: 20px;
            left: 50%;
            overflow: hidden;
            margin-left: -15px;
        }
        .in-timeline-content {
            width: 45%;
            &.right {
                float: right;
            }
            &.uk-card-body {
                padding-bottom: 25px;
            }
            .uk-position-bottom-right {
                i {
                    color: rgba(0, 0, 0, .08);
                    position: relative;
                    right: -20px;
                }
            }
        }
    }
}
@media (max-width: 960px) {
    .in-timeline-2 {
        margin: 10px 0;
        padding: 1px 0;
        width: 100%;
        &:before {
        left: 0;
        }
        .in-timeline-item {
            &:before {
                left: 0;
            }
            .in-timeline-content {
                width: 93%;
                float: right;
            }
        }
    }
}
@media (max-width: 640px) {
    .in-timeline-2 {
        .in-timeline-item {
            .in-timeline-content {
                width: 90%;
            }
        }
    }
}