---
apiVersion: v1
kind: Secret
metadata:
  name: digitalocean
  namespace: kube-system
stringData:
  access-token: "{{ lookup('env', 'DO_PAT')}}"

---
apiVersion: v1
kind: Secret
metadata:
  name: openaiapikey
  namespace: default
stringData:
  access-token: "{{ lookup('env', 'OPENAI_API_KEY')}}"

---
apiVersion: v1
kind: Secret
metadata:
  name: honeycombapikey
  namespace: default
stringData:
  access-token: "{{ lookup('env', 'HONEYCOMB_TOKEN')}}"

---
apiVersion: v1
kind: Secret
metadata:
  name: newrelicapikey
  namespace: default
stringData:
  access-token: "{{ lookup('env', 'NEWRELIC_TOKEN')}}"

---
apiVersion: v1
kind: Secret
metadata:
  name: atlantiswebhooksecret
  namespace: default
stringData:
  access-token: "{{ lookup('env', 'ATLANTIS_WEBHOOK_SECRET')}}"

---
apiVersion: v1
kind: Secret
metadata:
  name: ccmrobotpat
  namespace: default
stringData:
  access-token: "{{ lookup('env', 'CCM_ROBOT_PAT')}}"
---
apiVersion: v1
kind: Secret
metadata:
  name: slackwebhook
  namespace: default
stringData:
  url: "{{ lookup('env', 'SLACK_WEBHOOK')}}"
