<div class="text-center margin-bottom-50">
				<h2 class="title-v2 title-center">OUR SERVICES</h2>
				<p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
			</div>
      <div class="row service-box-v1 margin-bottom-40">
				<div class="col-md-4 col-sm-6 md-margin-bottom-40">
					<div class="service-block service-block-default no-margin-bottom">
						<i class="icon-lg rounded-x icon icon-badge"></i>
						<h2 class="heading-sm">Web Design &amp; Development</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
						<ul class="list-unstyled">
							<li>Responsive Web Desgin</li>
							<li>E-commerce</li>
							<li>App &amp; Icon Design</li>
							<li>Logo &amp; Brand Design</li>
							<li>Mobile Development</li>
							<li>UI/UX Design</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 md-margin-bottom-40">
					<div class="service-block service-block-default no-margin-bottom">
						<i class="icon-lg rounded-x icon-line icon-trophy"></i>
						<h2 class="heading-sm">Marketing &amp; Cunsulting</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
						<ul class="list-unstyled">
							<li>Analysis &amp; Consulting</li>
							<li>Email Marketing</li>
							<li>App &amp; Icon Design</li>
							<li>Responsive Web Desgin</li>
							<li>Social Networking</li>
							<li>Documentation</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="service-block service-block-default no-margin-bottom">
						<i class="icon-lg rounded-x icon-line icon-layers"></i>
						<h2 class="heading-sm">SEO &amp; Advertising</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
						<ul class="list-unstyled">
							<li>Display Advertising</li>
							<li>App &amp; Icon Design</li>
							<li>Analysis &amp; Consulting</li>
							<li>Google AdSense</li>
							<li>Social Media</li>
							<li>Google/Bing Analysis</li>
						</ul>
					</div>
				</div>
			</div>
      <div class="parallax-counter-v2 parallaxBg1" style="background-position: 50% 74px;">
			<div class="container">
				<ul class="row list-row">
					<li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
						<div class="counters rounded">
							<span class="counter">18298</span>
							<h4 class="text-transform-normal">Web Developers</h4>
						</div>
					</li>
					<li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
						<div class="counters rounded">
							<span class="counter">24583</span>
							<h4 class="text-transform-normal">Designers</h4>
						</div>
					</li>
					<li class="col-md-3 col-sm-6 col-xs-12 sm-margin-bottom-30">
						<div class="counters rounded">
							<span class="counter">37904</span>
							<h4 class="text-transform-normal">Open Contests</h4>
						</div>
					</li>
					<li class="col-md-3 col-sm-6 col-xs-12">
						<div class="counters rounded">
							<span class="counter">50892</span>
							<h4 class="text-transform-normal">Happy Customors</h4>
						</div>
					</li>
				</ul>
			</div>
		</div>
