<div class="breadcrumbs breadcrumbs-light">
			<div class="container">
				<h1 class="pull-left">Our Services</h1>
				<ul class="pull-right breadcrumb">
					<li><a ui-sref="home">Home</a></li>
					<li class="active">Services</li>
				</ul>
			</div>
		</div>
<div class="container content-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-6 md-margin-bottom-30">
						<h2 class="title-v2">WATCH ABOUT US</h2>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
						<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p><br>
						<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
						<a href="#" class="btn-u">Purchase Now</a>
					</div>
					<div class="col-md-6">
						<div class="responsive-video">
							<iframe src="//player.vimeo.com/video/78451097?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="parallax-quote parallaxBg" style="background-position: 50% 18px;">
			<div class="container">
				<div class="parallax-quote-in">
					<p>If you can design one thing <span class="color-green">you can design</span> everything. <br> Just Believe It.</p>
					<small>- HtmlStream -</small>
				</div>
			</div>
		</div>
