// pricing variables
$pricing-default-color:                       $base-default-color !default;
$pricing-muted-color:                         $base-muted-color !default;
$pricing-primary-color:                       $base-primary-color !default;
$pricing-secondary-color:                     $base-secondary-color !default;
$pricing-border-color:                        $base-border-color !default;
$pricing-border-color-2:                      $base-border-color-2 !default;
$pricing-border-width:                        $base-border-width !default;
$pricing-border-width-2:                      $base-border-width-2 !default;
$pricing-border-radius:                       $base-border-radius !default;
$pricing-border-radius-2:                     $base-border-radius-2 !default;


/* pricing component */
@import "pricing-1.scss";
@import "pricing-2.scss";
@import "pricing-3.scss";
@import "pricing-4.scss";
@import "pricing-5.scss";
@import "pricing-6.scss";
