<!-- breadcrumb content begin -->
<div class="uk-section uk-padding-remove-vertical in-liquid-breadcrumb">
    <div class="uk-container">
        <div class="uk-grid">
            {{#unlesspage 'index' 'homepage2' 'homepage3' 'homepage4'}}
            {{> module-breadcrumb }}
            {{/unlesspage}}
        </div>
    </div>
</div>
<!-- breadcrumb content end -->
